{% load tags %}

<div class="dialog-header">
    {{ title }}
</div>


<div class="dialog-content">

    <!--data-type="{{ form_name }}" data-test="yes"-->
    <form class="dialog_form" method="post" data-name="{{ form_name }}">

        {{ form.non_field_errors }}

        <div class="dialog-content-part field_shell">
            <!--fields of form-->
            {% for field in form %}

                {% include "forms/html/manage_filed.html" %}

            {% endfor %}

            {% if image %}
                <img data-src="{{ image }}" src="/_static/img/pixel.png" alt="image">
            {% endif %}

            <input type="hidden" name="additional_reload" value="{{ additional.reload }}">
            <input type="hidden" name="additional_redirect" value="{{ additional.redirect }}">
            <input type="hidden" name="additional_event" value="{{ additional.event }}">

            <input type="hidden" name="dialog_value" value="{{ widget.pk }}">

        </div><!-- dialog-content-part -->

    </form>


    {% if additional_form %}

        <form method="post" data-name="{{ additional_form_name }}" data-reload="dialog">
            <div class="dialog-content-part field_shell">

                <div>
                    {% for field in additional_form %}
                            {{ field }}
                            {{ field.errors }}

                            <div class="status"></div>
                    {% endfor %}
                </div>

                <input type="hidden" name="additional_reload" value="{{ additional.reload }}">
                <input type="hidden" name="additional_redirect" value="{{ additional.redirect }}">
                <input type="hidden" name="additional_event" value="{{ additional.event }}">

                <button class="event_button"
                        type="submit"
                        data-name="submit_additional"
                        data-reload="dialog">
                    Create
                </button>
            </div>
        </form>


        <div class="dialog-content-part field_shell">
            <div class="scroll">

                {% for value in values %}
                    <div>
                        {{ value.name }} - Dopłata: {{ value.super_price }}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}


    <div class="dialog-content-part field_shell">
        <!--buttons-->
        {% if edit %}
            <button class="post_button dialog-content-button" type="button" data-dialog-button="cancel"
                    data-name="widget"
                    data-action="delete"
                    data-reload="ground"
                    data-url="{{ edit.url }}"> Delete
            </button>
        {% endif %}

        <button class="dialog-content-button" type="button" data-dialog-button="cancel"> Cancel </button>

        <button class="event_button dialog-content-button"
                type="button"
                data-dialog-button="send"
                data-name="{{ additional.name }}"
                data-reload="{{ additional.reload }}"
                data-redirect="{{ additional.redirect }}"
                data-event="{{ additional.event }}">
            {% if additional_form %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </div><!-- dialog-content-part -->

</div><!-- dialog-content -->