<script>
    APP.DATA = {
        title : 'Produkty',
        description : 'Przeglądaj pełną listę produktów Medinox.',
    };
</script>

<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>

    {% include "block/ground/html/navigation.html" %}

    {% if elements or request.session.root_login %}
        {% include 'block/ground/plugin/product/html/tiles_list/products.html' %}
    {% endif %}

    {% if not elements %}
        <div class="block-content-message">Nie znaleźliśmy produktów</div>
    {% endif %}

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}