{% load staticfiles %}
{% load tags %}

    </div>

    <script>
        window.DATA = {};
        window.DATA.dictionary = {
            'Sending...':       '{% text 102 %}',
            'Waiting...':       '{% text 103 %}',
            'It\'s done!':      '{% text 104 %}',
            'Error / Resend':   '{% text 105 %}',
//            'Show addresses':   '{% text 131 %}',
//            'Get invoice':      '{% text 132 %}',
//            'Close':            '{% text 133 %}',
//            'Clear filters':    '{% text 134 %}',

	        'Loading...':           '{% text 207 %}',
            'Empty':                '{% text 208 %}',
            'Assign':               '{% text 209 %}',
            'Pending':              '{% text 210 %}',
            'Internal':             '{% text 211 %}',
            'External':             '{% text 212 %}',
            'Completed':            '{% text 213 %}',
            'Deadline/Reminder':    '{% text 214 %}',
            'Note':                 '{% text 215 %}',
            'Show addresses':       '{% text 216 %}',
            'Send e-mail':          '{% text 217 %}',
            'Get invoice':          '{% text 218 %}',
            'No shopping found':    '{% text 219 %}',
            'No payments found':    '{% text 220 %}',
            'More':                 '{% text 221 %}',
            'Show more':            '{% text 222 %}',
            'go back':              '{% text 223 %}',
            'Prev page':            '{% text 224 %}',
            'Next page':            '{% text 225 %}',
            'Close':                '{% text 226 %}',
            'Add element':          '{% text 227 %}',
            'Before':               '{% text 228 %}',
            'After':                '{% text 229 %}',
            'Move':                 '{% text 230 %}',
            'Move up':              '{% text 231 %}',
            'Move down':            '{% text 232 %}',
            'Delete':               '{% text 233 %}',
            'Copy':                 '{% text 234 %}',
            'Edit':                 '{% text 235 %}',
            'Create link':          '{% text 236 %}',
            'Delete link':          '{% text 237 %}',
            'Move link':            '{% text 238 %}',
            'Copy link':            '{% text 239 %}',
            'Add new catalog':      '{% text 240 %}',
            'Add new product':      '{% text 241 %}',
            'Clear filters':        '{% text 242 %}',
            'EUR price':            '{% text 243 %}',
            'PLN price':            '{% text 244 %}',
            'GBP price':            '{% text 245 %}',
            'Calculate':            '{% text 246 %}',
            'Language':             '{% text 247 %}',
            'Currency':             '{% text 248 %}',
            'Home':                 '{% text 249 %}',
            'Products':             '{% text 250 %}',
            'About':                '{% text 251 %}',
            'Account':              '{% text 252 %}',
            'Sign in':              '{% text 253 %}',
            'Sign out':             '{% text 254 %}',
            'Sign up':              '{% text 255 %}',
            'Search':               '{% text 256 %}',
            'Root settings':        '{% text 257 %}',
            'Root sign out':        '{% text 258 %}',
            'Notifications':        '{% text 259 %}',
            'Contact':              '{% text 260 %}',
            'Cart':                 '{% text 261 %}',
        };
    </script>

    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/autosize-master/dist/autosize.min.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'compress/bundle.js' %}?{% random 5 %}" charset="utf-8"></script>

  </body>

</html>

