{% load tags %}

{% if field|is_checkbox %}

	<div class="selecter checkbox">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</div>


{% elif field|is_radio %}

	<div class="selecter radio">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</div>

{% elif field|is_fileinput %}

	<div class="file_shell">
		{{ field }}
		<button type="button">Select file</button>
		{{ field.errors }}

		<div class="status"></div>
	</div>

{% else %}

	<div>
		{{ field }}
		{{ field.errors }}

		<div class="status"></div>
	</div>

{% endif %}