<script>
  window.APP.DATA = {
    title : 'O nas',
    description : 'Ta strona opowiada o nas. ;)',
  };
</script>

<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>

    {% include "part/ground/html/navigation.html" %}

    {% if products %}
        {% include 'part/ground/plugin/product/html/tiles_list.html' %}
    {% else %}
        <div class="block-content-message">Products not found</div>
    {% endif %}

</div><!-- ground-block -->

{% include "part/ground/html/footer.html" %}