{% load staticfiles %}
{% load tags %}

<script>
    window.APP.DATA = {
        title : '',
        description : 'This is home page.',
    };
</script>

<div class="ground-block block-1 start">

    <div class="block-background fill-abs"></div>

    <div class="block-content">

        <div class="block-content-recommended-title"><span>Polecamy</span></div>

        <div class="block-content-image"><img data-src="{% static 'img/home_image/home_1.jpg' %}" src="{% static 'img/pixel.png' %}" alt="Really beautiful"></div>

        {% include 'products/html/tiles_recommended.html' %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "ground/html/footer_start.html" %}