<script>
  window.APP.DATA = {
    title : 'Edit catalog',
    description : ''
  };
</script>


<div class="ground-block block-1 BIG">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        {% if not form %}

            <div class="block-content-message">
                Catalog has been edited.
            </div>

            <script>
                window.APP.DATA.redirect = '{{ go_back }}';
                window.APP.DATA.delay = 1500;
                window.dispatchEvent(window.EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}">
                {{ form.as_p }}

                <div>
                    <button class="button is-brown" type="submit"> Insert </button>
                </div>

            </form>

            <img data-src="{{ image }}" src="/static/img/pixel.png" alt="image">

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}