

<div class="directory_tree-single">
    <input class="directory_tree-radio" type="radio" id="id_{{ parent.pk }}" name="directory_tree">
    <label class="directory_tree-name" for="id_{{ parent.pk }}">

        {% if have_children %}
            <span class="directory_tree-arrow is-close">&nbsp;</span>
        {% else %}
            <span class="directory_tree-arrow">&nbsp;</span>
        {% endif %}

        {{ parent.name }}

    </label>
</div>

{% if catalogs %}

    <ul class="directory_tree-list">

        {% for catalog in catalogs %}

            <li class="directory_tree-element">
                <{{ forloop.counter0 }}>
            </li>

        {% endfor %}

    </ul>

{% endif %}
