
<div class="dialog-header">
    Addresses - delivery and invoice
</div>


<div class="dialog-content">

    <div class="dialog-content-part">

        <div class="dialog-address-title">Address delivery</div>

	    <div class="dialog-address-content">

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Full name:</div>
		        <div class="dialog-address-value">  {{ delivery.full_name }} &nbsp;</div>
		    </div>

		    {% if delivery.doctor_number %}
		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Doctor number:</div>
		        <div class="dialog-address-value">  {{ delivery.doctor_number }} &nbsp;</div>
		    </div>
		    {% endif %}

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Address line:</div>
		        <div class="dialog-address-value">  {{ delivery.address_line }} &nbsp;</div>
		    </div>

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   City:</div>
		        <div class="dialog-address-value">  {{ delivery.city }} &nbsp;</div>
		    </div>

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Region:</div>
		        <div class="dialog-address-value">  {{ delivery.region }} &nbsp;</div>
		    </div>

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Postcode:</div>
		        <div class="dialog-address-value">  {{ delivery.postcode }} &nbsp;</div>
		    </div>

		    <div class="dialog-address-field">
			    <div class="dialog-address-name">   Country:</div>
		        <div class="dialog-address-value">  {{ delivery.country }} &nbsp;</div>
		    </div>

	    </div>

	    <div class="dialog-address-title">Address invoice</div>

		<div class="dialog-address-content">

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Full name:     </div>
				<div class="dialog-address-value">  {{ invoice.full_name }} &nbsp;</div>
		    </div>

			{% if invoice.doctor_number %}
			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Doctor number:</div>
				<div class="dialog-address-value">  {{ invoice.doctor_number }} &nbsp;</div>
		    </div>
			{% endif %}

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Address line:</div>
				<div class="dialog-address-value">  {{ invoice.address_line }} &nbsp;</div>
		    </div>

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   City:</div>
				<div class="dialog-address-value">  {{ invoice.city }} &nbsp;</div>
		    </div>

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Region:</div>
				<div class="dialog-address-value">  {{ invoice.region }} &nbsp;</div>
		    </div>

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Postcode:</div>
				<div class="dialog-address-value">  {{ invoice.postcode }} &nbsp;</div>
		    </div>

			<div class="dialog-address-field">
			    <div class="dialog-address-name">   Country:</div>
				<div class="dialog-address-value">  {{ invoice.country }} &nbsp;</div>
		    </div>

		</div>

    </div><!-- dialog-content-part -->



    <div class="dialog-content-part">
        <!--buttons-->
        <button class="button post_button"
                type="button"
                data-name="edit_addresses"
                data-action="edit_addresses"
                data-reload="dialog">
            Edit
        </button>

        <button class="button event_button"
                type="button"
                data-name="button_close_dialog"
                data-event="part.close_dialog">
            Close
        </button>
    </div><!-- dialog-content-part -->

</div><!-- dialog-content -->