{% load staticfiles %}
{% load tags %}

<div class="dialog-header">
    Choose language
</div>


<div class="dialog-content">

    <div class="dialog-content-part">
        <!--fields of form-->

        Choose language on website! ;)<br />
        <br />

	    <button class="button post_button"
	            type="button"
	            data-name="EUR"
	            data-action=""
	            data-url="/currency/"
	            data-value="EUR"
	            data-redirect="{{ request.session.arbuz_url.en }}">
		    english
	    </button>
	    <button class="button post_button"
	            type="button"
	            data-name="PLN"
	            data-action=""
	            data-url="/currency/"
	            data-value="PLN"
	            data-redirect="{{ request.session.arbuz_url.pl }}">
		    polski
	    </button>

    </div><!-- dialog-content-part -->

    <div class="dialog-content-part">
        <!--buttons-->
		<button class="button event_button"
				type="button"
				data-name="button_close_dialog"
				data-event="part.close_dialog">
			Close
		</button>
    </div><!-- dialog-content-part -->

</div><!-- dialog-content -->