{% load staticfiles %}
{% load tags %}

<div class="dialog-header">
    Choose language
</div>


<div class="dialog-content">

    <div class="dialog-content-part">
        <!--fields of form-->

        Choose language on website! ;)<br />
        <br />
        <a class="button" href="{{ request.session.arbuz_url.en }}">english</a>
        <a class="button" href="{{ request.session.arbuz_url.pl }}">polski</a>
        <a class="button" href="{{ request.session.arbuz_url.de }}">deutsch</a>
    </div><!-- dialog-content-part -->

    <div class="dialog-content-part">
        <!--buttons-->
		<button class="button event_button"
				type="button"
				data-name="button_close_dialog"
				data-event="plugins.close_dialog">
			Close
		</button>
    </div><!-- dialog-content-part -->

</div><!-- dialog-content -->