{% load tags %}

{% if field|is_checkbox %}

	<span class="selecter checkbox">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</span>


{% elif field|is_radio %}

	<span class="selecter radio">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</span>


<!-- Image inputs -->

{% elif field|is_fileinput %}

	<div class="file_shell">
		{{ field }}
		<button class="button" type="button">Select file</button>
		<span class="status">{{ field.errors }}</span>

{% elif field.name == 'image_name' or field.name == 'image_name' or field.name == 'image_base64' or field.name == 'file_base64' %}

		{{ field }}

{% elif field.name == 'image_url' or field.name == 'file_url' %}
		&nbsp;or&nbsp;
		{{ field }}
		<span class="status-external">{{ field.errors }}</span>
		<span class="status"></span>

		{% if image %}
			<div class="file-list">

				<div class="file-tile">
					<div class="file-tile-content">
						<img class="file-tile-image" data-src="{{ image }}" src="/static/img/pixel.png" alt="image">

						<div class="file-tile-remove fill-abs">
							<button class="button is-icon" type="button">
								<span class="button-icon img-waste_bin-64"> &nbsp; </span>
							</button>
						</div>
					</div>
					<div class="file-tile-title">File_name.png</div>
				</div>

			</div>
		{% endif %}
	</div>

<!-- End image inputs -->


{% else %}

	<span>
		{{ field }}
		<span class="status-external">{{ field.errors }}</span>
		<span class="status"></span>
	</span>

{% endif %}