{% load tags %}

{% if field|is_checkbox %}

	<div class="selecter checkbox">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</div>


{% elif field|is_radio %}

	<div class="selecter radio">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</div>


<!-- File inputs -->

<!-- TODO Add preview for file. Add possibility remove file. Add possibility appending multiple files. -->

{% elif field|is_fileinput %}

	<div class="file_shell">
		{{ field }}
		<button class="button" type="button">Select file</button>
		{{ field.errors }}
		<div class="status"></div>

{% elif field.name == 'image_name' or field.name == 'image_name' or field.name == 'image_base64' or field.name == 'file_base64' %}

		{{ field }}

{% elif field.name == 'image_url' or field.name == 'file_url' %}
		&nbsp;or&nbsp;
		{{ field }}
		{{ field.errors }}
		<div class="status"></div>
	</div>

<!-- End file inputs -->


{% else %}

	<div>
		{{ field }}
		{{ field.errors }}

		<div class="status"></div>
	</div>

{% endif %}