{% load tags %}

{% if field|is_checkbox %}

	<div class="selecter checkbox">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</div>


{% elif field|is_radio %}

	{% for selector in field %}
		<div class="selecter radio">
			{{ selector.tag }}
			<label for="{{ selector.id_for_label }}" class="selecter-field"></label>
			<label for="{{ selector.id_for_label }}" class="selecter-text">{{ selector.choice_label }}</label>
		</div>
	{% endfor %}




<!-- File inputs -->

<!-- Frontend: Add preview for file. Add possibility remove file. Add possibility appending multiple files. -->

{% elif field|is_fileinput %}

	<div class="file_shell">
		{{ field }}
		<button class="button" type="button">Select file</button>

{% elif field.name == 'image_name' or field.name == 'image_name' or field.name == 'image_base64' or field.name == 'file_base64' %}

		{{ field }}

{% elif field.name == 'image_url' or field.name == 'file_url' %}
		<div class="file_shell-text">&nbsp;or&nbsp;</div>
		{{ field }}
		<div class="status-external">{{ field.errors }}</div>
		<div class="status"></div>

		{% if image %}
			<div class="file-list">

				<div class="file-tile">
					<div class="file-tile-content">
						<img class="file-tile-image" data-src="{{ image }}" src="/static/img/pixel.png" alt="image">

						<div class="file-tile-remove fill-abs">
							<button class="button post_button is-icon"
							        type="button"
									data-name="dialog_deleting_image"
									data-action="delete_image"
							        data-value="{{ pk }}"
							        data-url="/{{ type }}/manage/"
									data-reload="dialog ground">
								<span class="button-icon img-waste_bin-64"> &nbsp; </span>
							</button>
						</div>
					</div>
					<div class="file-tile-title">File_name.png</div>
				</div>

			</div>
		{% endif %}
	</div>

<!-- End file inputs -->






{% elif field.name == 'price_pln' %}

	<div class="currency_converter">

		<div class="currency_converter-col" data-currency="PLN">

			<div> PLN price </div>

			{{ field }}
			<div class="status-external">{{ field.errors }}</div>
			<div class="status"></div>

			<button class="button currency_converter-button"
			        type="button">
				Calculate
			</button>

		</div>

{% elif field.name == 'price_eur' %}

		<div class="currency_converter-col" data-currency="EUR">

			<div> EUR price </div>

			{{ field }}
			<div class="status-external"> {{ field.errors }} </div>
			<div class="status"></div>

		</div>

{% elif field.name == 'price_gbp' %}

		<div class="currency_converter-col" data-currency="GBP">

			<div> GBP price </div>

			{{ field }}
			<span class="status-external">{{ field.errors }}</span>
			<span class="status"></span>

		</div>

	</div>






{% else %}

	<div>
		{{ field }}
		<div class="status-external">{{ field.errors }}</div>
		<div class="status"></div>
	</div>

{% endif %}