{% load tags %}

{% if field|is_checkbox %}

	<span class="selecter checkbox">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</span>


{% elif field|is_radio %}

	<span class="selecter radio">
		{{ field }}
		<label for="id_{{ field.name }}" class="selecter-field"></label>
		<label for="id_{{ field.name }}" class="selecter-text">{{ field.label }}</label>
	</span>


<!-- Image inputs -->

{% elif field|is_fileinput %}

	<span class="file_shell">
		{{ field }}
		<button class="button" type="button">Select file</button>
		{{ field.errors }}
		<div class="status"></div>


{% elif field.name == 'image_base64' %}

		{{ field }}
		{{ field.errors }}

{% elif field.name == 'image_url' %}
		&nbsp;or&nbsp;
		{{ field }}
		{{ field.errors }}
		<div class="status"></div>
	</span>

<!-- End image inputs -->


{% else %}

	<span>
		{{ field }}
		{{ field.errors }}

		<div class="status"></div>
	</span>

{% endif %}