{% load staticfiles %}

<script>
  window.APP.DATA = {
    title : 'About us'
    , description : 'Our mission is customer satisfaction due to the quality of our services and products.'
  };
</script>

<div class="ground-block block-1 about">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        {% for element in content %}

            <div class="block-content-paragraph field_shell">

                {% if request.session.root_login %}
                    <div class="buttons_to_action">
                        <button class="dialog_button"
                                type="button"
                                data-type="confirm"
                                data-name="delete_about"
                                data-dialog-name="About_{{ element.pk }}"
                                data-dialog-value="{{ element.pk }}"
                                data-dialog-action="delete"
                                data-dialog-reload="ground"
                                data-dialog-url="/about/delete/">
                            Delete
                        </button>

                        <button type="button" class="dialog_button submit"
                                data-type="prompt"
                                data-name="edit_content_tab"
                                data-value="{{ element.pk }}">
                            Edit
                        </button>
                    </div>
                {% endif %}


                {% if element.header %}
                <div class="title">
                    {{ element.header | safe }}
                </div>
                {% endif %}


                {% if element.image %}
                    <div class="paragraph with_image">
                        {{ element.paragraph | safe }}
                    </div>
                {% else %}
                    <div class="paragraph">
                        {{ element.paragraph | safe }}
                    </div>
                {% endif %}


                {% if element.image and element.header %}
                    <div class="block-content-paragraph-image">
                        <img data-src="{{ element.image }}"
                             alt="{{ element.header }}"
                             src="{% static 'img/pixel.png' %}"/>
                    </div>
                {% elif element.image %}
                    <div class="block-content-paragraph-image">
                        <img data-src="{{ element.image }}"
                             alt="Example image"
                             src="{% static 'img/pixel.png' %}"/>
                    </div>
                {% endif %}

            </div><!-- block-content-paragraph -->

        {% endfor %}


        {% if request.session.root_login %}

            <div class="block-content-paragraph new">

                <div class="dialog_button" data-type="alert" data-name="recommended">

                    <div class="block-content-paragraph-new-image"></div>

                    <div class="block-content-paragraph-new-title"> Add new paragraph </div>

                </div>

            </div><!-- block-content-paragraph new -->

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
