{% load tags %}

<script>
    window.APP.DATA = {
        title : 'Contact with us',
        description : 'Ways to contact us.',
    };
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content contact">

        <div class="block-content-left">

            <div class="title">
                {{ request.session.root_address.full_name }}
            </div>

            <div class="paragraph">
                {{ request.session.root_address.address_line }}<br>
                {{ request.session.root_address.postcode }} {{ request.session.root_address.city }}<br>
                {{ request.session.root_address.region }} {{ request.session.root_address.country }}<br>

                {% if request.session.root_address.phone %}
                    {{ request.session.root_address.phone }}<br>
                {% endif %}

                {{ request.session.root_address.email }}<br>
            </div>


            <form class="selected_form field_shell" method="post" action="" id="form_{{ form_name }}" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title">
                    <span>Contact us:&nbsp;</span>
                    <select class="selected_form-choice" data-important_fields="url product">
                        <option value="{{ form_detail.2.hidden }}" selected>{{ form_detail.2.title }}</option>
                        <option value="{{ form_detail.0.hidden }}">{{ form_detail.0.title }}</option>
                        <option value="{{ form_detail.1.hidden }}">{{ form_detail.1.title }}</option>
                    </select>
                </div>

                {% for i in form %}

                    <div>

                        {{ i }}
                        {% include "forms/html/field_error.html" %}

                    </div>

                {% endfor %}

                <div>
                    <button disabled type="submit"> Done </button>
                </div>

            </form>

        </div><!-- block-content-left -->

        <div class="block-content-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.486370337253!2d21.01180431549093!3d52.23454887976113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471eccf4fd063aa1%3A0xebd3782c757c6d82!2sSungate+Beauty+%26+Spa+-+zabiegi+spa%2C+piel%C4%99gnacja+twarzy%2C+medycyna+estetyczna!5e0!3m2!1spl!2spl!4v1485340354394" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!-- block-content-right -->

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
