{% load staticfiles %}
{% load tags %}

<script>
    window.APP.DATA = {
        title : '{{ title }}',
        description : 'This page is about us. ;)'
    };
</script>


<div class="ground-block block-1">

    <div class="block-background"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content product_details">

        <div class="block-content-left">

            <div class="product_details-image">
                <div class="fill-abs">
                    <img data-src="{{ product.image }}" src="{% static 'img/pixel.png' %}" alt="{% product_name product %}">
                </div>
            </div>

        </div>


        <div class="block-content-right">

            <div class="product_details-section title">
                <h1>{% product_name product %}</h1>
            </div>


            {% if request.session.user_login or request.session.root_login %}

                <div class="product_details-section action_panel">

                        <div class="product_details-action_panel-prices">
                            {% if request.session.user_login %}
                                {% get_price product %}
                            {% else %}
                                If you want buy a product you must login.
                                <a href="{% sign_in_redirect 'product.details' pk=product.pk %}">Sign in!</a>
                            {% endif %}
                        </div>

                    <div class="product_details-action_panel-buttons field_shell">

                        {% if request.session.user_login %}
                            <button class="post_button" type="button"
                                    data-name="Append_{{ product.pk }}"
                                    data-action="append"
                                    data-value="{{ product.pk }}"
                                    data-reload="cart"
                                    data-url="/cart/">Add to cart</button>

                            <a href="/payment/buy/{{ product.pk }}/"><button type="button">Buy</button></a>
                        {% endif %}

                        {% if request.session.root_login %}
                            <button class="post_button" type="button"
                                    data-name="Delete_{{ product.pk }}"
                                    data-action="delete"
                                    data-value="{{ product.pk }}"
                                    data-url="/product/delete/">Delete</button>

                            <a href="/product/edit/{{ product.pk }}/"><button type="button">Edit</button></a>
                        {% endif %}

                    </div>
                </div>

            {% else %}

                <div class="product_details-section">
                    If you want buy a product you must login.
                    <a href="{% sign_in_redirect 'product.details' pk=product.pk %}">Sign in!</a>
                </div>

            {% endif %}


            <div class="product_details-section payment">
                Payments: Paypal, Dotpay
            </div>

            <div class="product_details-section transport">
                Delivery: DHL, FedEx, Inpost
            </div>

            <div class="product_details-section details">
                {% product_description product %}<br>
            </div>

        </div>

    </div>

</div>


{% include "ground/html/footer.html" %}