<script>
  window.APP.DATA = {
    title : 'Change password',
    description : 'Change password.',
    redirect : '/user/change_password/',
  };
</script>


<div class="ground-block block-1 SMALL">

  <div class="block-background fill-abs"></div>
  {% include "ground/html/navigation.html" %}

  <div class="block-content">

    {% if not form %}

      <div class="block-content-message">
          Password has been changed.
      </div>

      <script>
        window.APP.DATA.redirect = '/user/sign_in/';
        window.APP.DATA.delay = 2000;
        window.APP.throw_event(window.EVENTS.redirect);
      </script>

    {% else %}

      <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes" class="field_shell">

          <div class="title"> Change your password </div>

          {% for i in form %}

            <div>
              {{ i }}
              {{ i.errors }}
            </div>

          {% endfor %}

          <div>
            <button disabled type="submit"> Reset my password </button>
          </div>
          <a href="/user/login/">
            <button type="button"> Return to Login page </button>
          </a>

        </form>

    {% endif %}

  </div>

</div>
