<script>
  window.APP.DATA = {
    title : 'Company details',
    description : ''
  };
</script>

<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        <form class="field_shell" method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

            <div class="title"> Edit your address </div>

            {% for i in form %}

                <div>
                    {{ i }}
                    {{ i.errors }}
                </div>

            {% endfor %}

            <div class="form_buttons short">
                <button disabled type="submit">
                    Done
                </button>
            </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}