<script>
  APP.DATA = {
    title : 'Company details',
    description : ''
  };
</script>

<!-- Frontend: fields have to testing but not required. -->

<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

            <div class="title"> Edit your address </div>

            {% for field in form %}

                {% include "form/html/manage_field.html" %}

            {% endfor %}

            <div class="form_buttons short">
                <button class="button" disabled type="submit"> Done </button>
            </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}