<script>
  APP.DATA = {
    title : 'Data for public',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

            <div class="title"> What should be available for public: </div>

            <div class="selecter checkbox">
                <input type="checkbox" id="id_names" name="names" value="1" {% if values.names %} checked {% endif %}>
                <label for="id_names" class="selecter-field"></label>
                <label for="id_names" class="selecter-text">Name and surname</label>
            </div>

            <div class="selecter checkbox">
                <input type="checkbox" id="id_phones" name="phones" value="1" {% if values.phones %} checked {% endif %}>
                <label for="id_phones" class="selecter-field"></label>
                <label for="id_phones" class="selecter-text">Phones number</label>
            </div>

            <div class="selecter checkbox">
                <input type="checkbox" id="id_address" name="address" value="1" {% if values.address %} checked {% endif %}>
                <label for="id_address" class="selecter-field"></label>
                <label for="id_address" class="selecter-text">Company address</label>
            </div>

            <div class="selecter checkbox">
                <input type="checkbox" id="id_email" name="email" value="1" {% if values.email %} checked {% endif %}>
                <label for="id_email" class="selecter-field"></label>
                <label for="id_email" class="selecter-text">Email</label>
            </div>

            <div class="form_buttons short">
                <button class="button is-important"> Save </button>
                <button class="button event_button"
                        type="button"
                        data-event="reload_website">
                    Show changes
                </button>
            </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}