{% load tags %}

<script>
  APP.DATA = {
    title : 'Price for delivery',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL deliver_settings">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

        <form class="auto_form" action="" data-origin="form">

            <div class="title">Price for delivery</div>

            {% for item in options %}

                <div class="deliver_settings-row">

                    <label class="deliver_settings-row-label" for="{{ item.country }}_EUR">
						{{ item.country }}:&nbsp;
					</label>

                    <input class="deliver_settings-row-input input auto_field"
						   type="text"
						   name="{{ item.country }}_EUR"
						   id="{{ item.country }}_EUR"
                           data-name="{{ item.pk }} EUR"
                           value="{{ item.price.eur }}" />

					<span>EUR</span>

                    <input class="deliver_settings-row-input input auto_field"
						   type="text"
						   name="{{ item.country }}_PLN"
						   id="{{ item.country }}_PLN"
                           data-name="{{ item.pk }} PLN"
                           value="{{ item.price.pln }}" />

					<span>PLN</span>

                </div>

            {% endfor %}

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}