{% load tags %}

<script>
  APP.DATA = {
    title : 'Price for delivery',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL deliver_settings">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-right-inside">

        <form class="auto_form" data-name="delivery_settings">

            <div class="title">Price for delivery</div>

            <div>
	            <label for="id_price_on_receipt"> Normal price: </label>
	            <input class="input"
	                   name="price_on_receipt"
	                   id="id_price_on_receipt"
	                   type="number"
	                   step="0.01"
	                   value="{{ price }}">
            </div>

	        <div>
	            <label for="id_price_in_advance"> Price with postage: </label>
	            <input class="input"
	                   name="price_in_advance"
	                   id="id_price_in_advance"
	                   type="number"
	                   step="0.01"
	                   value="{{ price_postage }}">
            </div>

	        <div>
		        <button class="button is-important is-width-50">
			        Save
		        </button>
	        </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}