{% load tags %}

<script>
  APP.DATA = {
    title : 'Price for delivery',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL deliver_settings">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

        <form class="auto_form" data-name="payment_settings">

            <div class="title">Payment settings</div>

	        <div> Choose available payment ways </div>

	        <div class="selecter checkbox">
		        <input name="paypal" id="id_paypal" class="input" type="checkbox" value="true">
		        <label for="id_paypal" class="selecter-field"></label>
		        <label for="id_paypal" class="selecter-text">PayPal</label>
	        </div>

	        <div class="selecter checkbox">
		        <input name="dotpay" id="id_dotpay" class="input" type="checkbox" value="true">
		        <label for="id_dotpay" class="selecter-field"></label>
		        <label for="id_dotpay" class="selecter-text">Dotpay</label>
	        </div>

	        <div class="selecter checkbox">
		        <input name="cash_on_delivery" id="id_cash_on_delivery" class="input" type="checkbox" value="true">
		        <label for="id_cash_on_delivery" class="selecter-field"></label>
		        <label for="id_cash_on_delivery" class="selecter-text">Cash on delivery</label>
	        </div>

	        <div class="selecter checkbox">
		        <input name="delayed_transfer" id="id_delayed_transfer" class="input" type="checkbox" value="true">
		        <label for="id_delayed_transfer" class="selecter-field"></label>
		        <label for="id_delayed_transfer" class="selecter-text">Delayed transfer</label>
	        </div>

	        <div class="is-right-inside">
		        <button class="button is-important is-width-30">
			        Save
		        </button>
	        </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}