<script>
  APP.DATA = {
    title : 'Root sign in',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        {% if not form or request.session.root_login %}

            <div class="block-content-message">
                Hello root! Have fun at work. ;)
            </div>

            <script>
                APP.throw_event(EVENTS.part.reload_root_sign_in);
                APP.DATA.redirect = '{{ go_back }}';

                APP.DATA.delay = 1500;
                APP.throw_event(EVENTS.redirect);
            </script>


        {% else %}

            <form method="post"
				  data-name="{{ form_name }}"
				  data-type="{{ form_name }}"
				  data-test="yes">

                <div class="title"> Root login </div>

                <div>
					<input class="input" disabled
						   type="text"
						   value="root" />
				</div>

                {% for field in form %}

					{% include "form/html/manage_field.html" %}

                {% endfor %}

                <div>
					<button class="button is-brown" disabled type="submit"> Done </button>
				</div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}