<script>
    APP.DATA = {
        title : 'Users payments',
        description : ''
    };
</script>

<div class="ground-block block-1 BIG users_payments">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

        <div class="title">Users payments - {{ request.session.root_payment_status | title }}</div>


        <form class="users_payments-filters is-center-inside auto_form" action="" data-origin="filter" data-reload="ground" data-delay="100">

            <input class="input auto_field"
				   type="date"
				   name="date_from"
				   data-name="date_from"
				   value="{{ date_from }}" />

            <input class="input auto_field"
				   type="date"
				   name="date_to"
				   data-name="date_to"
				   value="{{ date_to }}"/>


            <div class="tooltip align-left align-top">

                <button class="button tooltip_button"
						type="button"
						data-name="description">
                    Category
                </button>

                <div class="tooltip-options">
                    <button class="button post_button"
                            data-name="payment_status_pending"
                            data-action="change"
                            data-value="pending"
                            data-reload="ground">
                        Pending
                    </button>
	                <button class="button post_button"
	                        data-name="payment_status_late_payment"
	                        data-action="change"
	                        data-value="late payment"
	                        data-reload="ground">
		                Late payment
	                </button>
                    <button class="button post_button"
                            type="button"
                            data-name="payment_status_cart"
                            data-action="change"
                            data-value="cart"
                            data-reload="ground">
                        Cart
                    </button>
                    <button class="button post_button"
                            type="button"
                            data-name="payment_status_internal"
                            data-action="change"
                            data-value="internal"
                            data-reload="ground">
                        Internal
                    </button>
                    <button class="button post_button"
                            type="button"
                            data-name="payment_status_external"
                            data-action="change"
                            data-value="external"
                            data-reload="ground">
                        External
                    </button>
                    <button class="button post_button"
                            type="button"
                            data-name="payment_status_completed"
                            data-action="change"
                            data-value="completed"
                            data-reload="ground">
                        Completed
                    </button>
                </div>
            </div>

        </form>


        {% include "block/cart/html/users_payments.html" %}


    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
