
$menu_mobile--height:               100%
$menu_mobile-field--height:         45px

$menu_mobile--color:                $G-COLOR-4
$menu_mobile--border-color:         #444
$menu_mobile--background-color:     $G-COLOR-0

$menu_mobile--border-style:         solid $menu_mobile--border-color 1px
$menu_mobile--border-style--bold:   solid $menu_mobile--border-color 3px


//--------------------------------------
//       STYLE PRZESUWANEGO MENU
//--------------------------------------

#MENU_MOBILE
  left: 0
  top: -$menu_mobile--height
  right: 0

  height: $menu_mobile--height
  background-color: $menu_mobile--background-color

  z-index: 80

  .part-hide
    bottom: 0
    left: 0
    right: 0
    height: 50px

    background-color: inherit
    text-align: center
    cursor: pointer
    border-top: $menu_mobile--border-style--bold
    +box-shadow(0px -8px 5px 0px rgba(15, 15, 15, 0.4))

    opacity: 0.8


  .part-hide-text
    line-height: 45px
    font-weight: bold
    color: $G-COLOR-4


.menu_mobile
  margin:
    right: 15px
    bottom: 100px

  color: $menu_mobile--color
  background-color: inherit


.menu_mobile-who
  padding-left: 10px
  line-height: 30px

  font-size: 14px
  text-align: center
  color: #bbb

.menu_mobile-who-name
  font-weight: bold
  color: #fff


.menu_mobile-tiles
  height: 80px

  border: $menu_mobile--border-style
    left: 0
    right: 0
  font-size: 0

  &.is-have-4

    .menu_mobile-tile
      width: 25%


.menu_mobile-tile
  position: relative
  display: inline-block

  margin: 0
  height: 100%

  .button
    &, &:hover
      height: 43px
      margin-top: 18.5px

      .button-icon
        width: 43px
        height: 43px

        opacity: 1



.navigation-list

  li:not(.navigation-field), .menu_mobile-tile
    display: none

  .navigation-field
    position: relative
    height: $menu_mobile-field--height

    border-bottom: $menu_mobile--border-style
    background-color: $menu_mobile--background-color

    >*
      padding: 0 15px
      line-height: $menu_mobile-field--height

      cursor: pointer


  .navigation-secondary-cart
    font-weight: bold


//--------------------------------------
//            EKRAN KOMPUTERA
//--------------------------------------

@media (min-width: $G-SIZE-2)
  #MENU_MOBILE
    top: -$menu_mobile--height !important
