
// ---- STATIC FEATURES

.is-right
  position: absolute
  top: 0
  right: 0


.is-float-right
  float: right


.is-float-left
  float: left


.is-having-margins-5
  margin: 5px


.is-nowrap
  white-space: nowrap
  overflow: hidden


.is-bold
  font-weight: bold



.is-relative
  position: relative





.is-has-notifications-img
  @extend .img-has_notifications-64

.is-has-no-notifications-img
  @extend .img-notification-light-64



.is-text-has-notifications
  animation: notifications 2.3s infinite



// ---- INSIDE FEATURES

.is-inline-inside
  >*
    display: inline-block


.is-left-inside
  text-align: left


.is-right-inside
  text-align: right


.is-center-inside
  text-align: center






// ---- CHANGING FEATURES

.is-mobile-visible
  display: block



@media (min-width: 1000px)

  .is-mobile-visible
    display: none


  .is-rotate-360
    +transform(rotate(0deg))
    +transition(all 600ms ease)

    &:hover
      +transform(rotate(360deg))


  .is-zoom
    +transform(scale(1))
    +transition(all 400ms ease)

    *
      +transition(all 400ms ease)

    &:hover
      +transform(scale(1.05))