
// ---- STATIC FEATURES

.is-right
  position: absolute
  top: 0
  right: 0


.is-float-right
  float: right





// ---- INSIDE FEATURES

.is-inline-inside
  >*
    display: inline-block


.is-right-inside
  text-align: right


.is-centered-inside
  text-align: center






// ---- CHANGING FEATURES

.is-mobile-visible
  display: block



@media (min-width: 1000px)

  .is-mobile-visible
    display: none