.std-img
  +background-img('')


.img-edit
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/edit.png)


.img-shopping_cart
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/shopping_cart.png)


.img-waste_bin
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/waste_bin.png)

.img-waste_bin-64
  @extend .std-img
  background-image: url(/static/img/icons/64/dark/waste_bin.png)


.img-close
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/close.png)


.img-searcher
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/searcher.png)


.img-searcher-light
  @extend .std-img
  background-image: url(/static/img/icons/32/light/searcher.png)


.img-lines_menu
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/lines_menu.png)



.img-flag-EN
  @extend .std-img
  background-image: url(/static/img/flags/EN.png)

.img-flag-PL
  @extend .std-img
  background-image: url(/static/img/flags/PL.png)

.img-flag-DE
  @extend .std-img
  background-image: url(/static/img/flags/DE.png)