.std-img
  +background-img('')



// -----------------

.img-edit
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/edit.png)


.img-add-128
  @extend .std-img
  background-image: url(/static/img/icons/128/dark/add.png)


.img-close
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/close.png)


.img-waste_bin
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/waste_bin.png)

.img-waste_bin-64
  @extend .std-img
  background-image: url(/static/img/icons/64/dark/waste_bin.png)


.img-reload-128
  @extend .std-img
  background-image: url(/static/img/icons/128/dark/reload.png)


.img-go_back
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/go_back.png)

.img-go_back-64
  @extend .std-img
  background-image: url(/static/img/icons/64/dark/go_back.png)



// ----------------- ACCOUNT

.img-padlock_open-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/padlock_open.png)


.img-shut_down-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/shut_down.png)


.img-businessman-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/businessman.png)


.img-simple_settings-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/simple_settings.png)


.img-notification-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/notifications.png)


.img-has_notifications-64
  @extend .std-img
  background-image: url(/static/img/icons/64/other/has_notifications.png)


.img-telephone-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/telephone.png)




// ----------------- CATALOG AND PRODUCT

.img-medical_records-256
  background-image: url(/static/img/icons/256/medical_records.png)

.img-link-256
  background-image: url(/static/img/icons/256/link.png)


.img-hospital-256
  background-image: url(/static/img/icons/256/hospital.png)




// -----------------

.img-shopping_cart
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/shopping_cart.png)


.img-searcher
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/searcher.png)


.img-searcher-light
  @extend .std-img
  background-image: url(/static/img/icons/32/light/searcher.png)


.img-email
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/email.png)


.img-telephone
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/telephone.png)


.img-home
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/home.png)

.img-home-light-64
  @extend .std-img
  background-image: url(/static/img/icons/64/light/home.png)


.img-eye
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/eye.png)



// -----------------

.img-lines_menu
  @extend .std-img
  background-image: url(/static/img/icons/32/dark/lines_menu.png)


.img-change_currency-64
  @extend .std-img
  background-image: url(/static/img/icons/64/dark/dollar-symbol.png)



// -----------------

.img-flag-EN
  @extend .std-img
  background-image: url(/static/img/flags/EN.png)


.img-flag-PL
  @extend .std-img
  background-image: url(/static/img/flags/PL.png)


.img-flag-DE
  @extend .std-img
  background-image: url(/static/img/flags/DE.png)