

<ul class="header-navigation-mobile">

    {% include 'part/navigation/html/navigation_mobile.html' %}

</ul><!-- navigation-mobile -->


<ul class="header-navigation-primary">

    {% include 'part/navigation/html/navigation_primary.html' %}

</ul><!-- navigation-primary -->


<div class="header-navigation-secondary">

    <ul class="header-navigation-secondary-root">

        {% include 'part/navigation/html/navigation_secondary_root.html' %}

    </ul><!-- navigation-secondary-left -->


    <ul class="header-navigation-secondary-user">

        {% include 'part/navigation/html/navigation_secondary_user.html' %}

    </ul><!-- navigation-secondary-right -->

</div><!-- navigation-secondary -->