{% load tags %}

<div class="dialog-header">
    {{ title }}
</div>


<div class="dialog-content">

    <!--data-type="{{ form_name }}" data-test="yes"-->
    <form class="dialog_form" method="post" data-name="{{ form_name }}">

        {{ form.non_field_errors }}

        <div class="dialog-content-part">
            <!--fields of form-->
            {% for field in form %}

                {% include "form/html/manage_field_multiple_in_line.html" %}

            {% endfor %}

            <input type="hidden" name="additional_reload" value="{{ additional.reload }}">
            <input type="hidden" name="additional_redirect" value="{{ additional.redirect }}">
            <input type="hidden" name="additional_event" value="{{ additional.event }}">

        </div><!-- dialog-content-part -->

    </form>


    {% if additional_form %}

        <form method="post" data-name="{{ additional_form_name }}" data-reload="ground">
            <div class="dialog-content-part">

                <div>
                    {% for field in additional_form %}

                        {% include "form/html/manage_field_multiple_in_line.html" %}

                    {% endfor %}

                    <button class="button" type="submit"> Create </button>
                </div>

                <input type="hidden" name="accept_reload" value="{{ accept.reload }}">
                <input type="hidden" name="accept_redirect" value="{{ accept.redirect }}">
                <input type="hidden" name="accept_event" value="{{ accept.event }}">

            </div>
        </form>


        <div class="dialog-content-part">
            <div class="scroll">

				{% if values %}

					{% for value in values %}
						<div>
							{{ value.name }} - Dopłata: {{ value.super_price }}
						</div>
					{% endfor %}

				{% else %}

                    <div> No found </div>

                {% endif %}
            </div>
        </div>

    {% endif %}


    <div class="dialog-content-part">
        <!--buttons-->

        {% if edit %}
            <button class="button post_button"
                    type="button"
                    data-name="widget"
                    data-action="delete"
                    data-reload="ground"
                    data-event="part.close_dialog"
                    data-url="{{ edit.url }}">
                Delete
            </button>
        {% endif %}

        <button class="button event_button"
                type="button"
                data-name="button_close_dialog"
                data-event="part.close_dialog">
            Close
        </button>

        <button class="button dialog_send event_button"
                type="button"
                data-name="{{ accept.name }}"
                data-reload="{{ accept.reload }}"
                data-redirect="{{ accept.redirect }}"
                data-event="part.close_dialog {{ accept.event }}">
            {% if additional_form %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </div><!-- dialog-content-part -->

</div><!-- dialog-content -->