{% extends 'EN/sender/template.html' %}

{% block content %}

    <p class="paragraph">
        Cześć!
    </p>

    <p class="paragraph">
        Zmień swoje hasło.
    </p>

    <p class="paragraph">
        Powiedziałeś nam, że zapomniałeś hasło. Jeśli naprawdę to zrobiłeś, naciśnij w poniższy przycisk:
    </p>

    <p class="paragraph">
        <a class="paragraph-button" href="{{ activate_url }}"> Ustaw nowe hasło </a>
    </p>

    <p class="paragraph">
        Pozdrowienia!
    </p>

{% endblock content %}
