<script>
  window.APP.DATA = {
    title : '{{ title }}',
    description : 'This page is about us. ;)'
  };
</script>

<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        <button class="post_button" type="button"
                data-name="Reset_database"
                data-action="reset_databases"
                data-url="/setting/">
			Reset database
		</button> <br>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "part/ground/html/footer.html" %}
