

.ground-block.payment_delivery

  .delivery-button_shell
    display: inline-block
    width: 50%
    margin-bottom: 15px
    vertical-align: top


  .delivery-button
    display: block
    line-height: 25px
    margin: 10px 5px
    padding: 50px 0
    vertical-align: top

    font:
      size: 18px
      weight: bold

  input:checked + .delivery-button
    @extend .is-important


  .to_pay
    font:
      size: 20px
      weight: bold