

.ground-block.payment_choose

  .payment-shell-height
    display: inline-block
    width: 50%
    vertical-align: top


  .payment-shell-width
    display: block
    margin: 0 5px


  .payment-button
    display: block
    line-height: 25px
    margin: 5px 0
    padding: 50px 0
    vertical-align: top

    font:
      size: 18px
      weight: bold

  input:checked + .payment-button
    @extend .is-important


  .to_pay
    font:
      size: 20px
      weight: bold