<script>
  APP.DATA = {
    title : 'Edit {{ title }}',
    description : ''
  };
</script>


<div class="ground-block block-1 BIG">

  <div class="block-background fill-abs"></div>
  {% include "part/ground/html/navigation.html" %}

  <div class="block-content">

    {% if not form %}

      Product has been edit.
      <script>
        APP.DATA.redirect = '/products/';
        APP.DATA.delay = 2000;
        window.dispatchEvent(EVENTS.redirect);
      </script>

    {% else %}

      <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}">

        <div class="title"> Create new product </div>

            {{ form.non_field_errors }}

        <div>
            Create:
            <button class="button dialog_button" type="button" data-type="prompt" data-name="brand"> brand </button>
            <button class="button dialog_button" type="button" data-type="prompt" data-name="purpose"> purpose </button>
        </div>

        <div>
            New details:
            <button class="button dialog_button" type="button" data-type="prompt" data-name="details_en"> in english </button>
            <button class="button dialog_button" type="button" data-type="prompt" data-name="details_pl"> in polish </button>
            <button class="button dialog_button" type="button" data-type="prompt" data-name="details_de"> in germany </button>
        </div>

        <div>
            Additions:
            <button class="button dialog_button" type="button" data-type="prompt" data-name="where_display"> where display </button>
            <button class="button dialog_button" type="button" data-type="prompt" data-name="image"> new image </button>
        </div>

        {% for i in form %}

          <div>
            {{ i }}
            {{ i.errors }}
          </div>

        {% endfor %}

        <div>
          <button class="button" type="submit"> Insert </button>
        </div>

      </form>

    {% endif %}

  </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
