<script>
    APP.DATA = {
        title : 'Products',
        description : 'Browse the full list of Google products designed to help you become more beautiful.',
    };
</script>

<!-- Frontend: change elements name from products to elements - abstract -->

<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>

    {% include "block/ground/html/navigation.html" %}

    {% if elements or request.session.root_login %}
        {% include 'block/ground/plugin/product/html/tiles_list/products.html' %}
    {% endif %}

    {% if not elements %}
        <div class="block-content-message">No products found</div>
    {% endif %}

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}