{% load tags %}

<script>
  APP.DATA = {
    title : 'Payment',
    description : '',
  };

  APP.throw_event(EVENTS.part.close_cart);
</script>


<div class="ground-block block-1 MEDIUM payment">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    {% if address_is_validate %}

        {% include "block/ground/html/go_back.html" with href='/payment/' %}

    {% endif %}

    <div class="block-content">

        {% if not address_is_validate %}

            {% if not cart %}

                <ul class="cart-list">
                    <li>
                        <div class="cart-list-empty">
                            Payment is empty
                        </div>
                    </li>
                </ul><!-- cart-list -->

            {% else %}

                <ul class="cart-list">

                    {% for selected in cart %}

                        <li class="cart-list-product is-inline-inside">

                            <div class="cart-list-product-name">
                                <a href="/product/{{ selected.product.pk }}/{{ selected.product.url_name }}/">
                                    {{ selected.product.name }}
                                </a>
                            </div>


                            <div class="cart-list-product-actions">

                                <form class="auto_form" action="/cart/" data-origin="little">

                                    <input class="cart-list-product-number input auto_field only_number_3 always"
                                           type="text"
                                           title="Number of products"
                                           value="{{ selected.number }}"
                                           data-name="{{ selected.pk }}" />

                                    <span class="cart-list-product-price"> x {% get_price selected.product %}</span>

                                    <div class="tooltip align-right align-bottom is-dangerous">

                                        <button class="button is-icon tooltip_button cart-list-product-remove"
                                                type="button"
                                                data-name="remove_product-cart">
                                            <span class="button-icon is-zoom img-waste_bin"> &nbsp; </span>
                                        </button>

                                        <div class="tooltip-options">
                                            <button class="button post_button"
                                                    type="button"
                                                    data-name="Delete_{{ selected.product.pk }}"
                                                    data-action="delete"
                                                    data-value="{{ selected.product.pk }}"
                                                    data-reload="cart ground"
                                                    data-url="/cart/">
                                                Are you sure?
                                            </button>
                                        </div>
                                    </div>

                                </form><!-- auto_form -->

                            </div><!-- cart-list-product-actions -->

                        </li><!-- cart-list-product -->

                    {% endfor %}


                    <li class="cart-list-total_price is-inline-inside">
                        <div class="cart-list-total_price-title">Cost of delivery:</div>
                        <div class="cart-list-total_price-price"></div>
                    </li>


                    <li class="cart-list-total_price is-inline-inside">
                        <div class="cart-list-total_price-title">Total price:</div>
                        <div class="cart-list-total_price-price">{{ payment.total_price }} {{ request.session.currency_selected }}</div>
                    </li>

                </ul><!-- cart-list -->




                <!-- //////////////////////  CHOOSE ADDRESS  ////////////////////// -->

                <form method="post" action="" data-name="address" data-type="address">

                    <div class="form_submit">
                        <div class="form_submit-description">Please select your address of below list <wbr>for shipment and invoice.</div>

                        <button class="form_submit-button button is-important"
                                type="submit">
                            Next
                        </button>
                    </div>

                    {% for item in address %}

                        <div class="address_block change_length">
                            <div>

                                <div class="address_block-shell"></div>

                                <div class="address_block-title change_length-button"> {{ item.full_name }} </div>

                                <div class="address_block-field_list">
                                    <div class="is-nowrap">{{ item.full_name }} &nbsp; </div>
                                    <div class="is-nowrap">{{ item.address_line }} &nbsp; </div>
                                    <div class="is-nowrap">{{ item.city }} &nbsp; </div>
                                    <div class="is-nowrap">{{ item.region }} &nbsp; </div>
                                    <div class="is-nowrap">{{ item.postcode }} &nbsp; </div>
                                    <div class="is-nowrap">{{ item.country }} &nbsp; </div>
                                </div>

                                <div class="address_block-buttons">
                                    <span>Select address to</span>

                                    <div class="selecter radio">
                                        <input class="input"
                                               type="radio"
                                               id="id_shipment_{{ forloop.counter0 }}"
                                               name="shipment"
                                               value="{{ item.pk }}"
                                               {% if forloop.counter0 == 0 %}
                                               checked
                                               {% endif %}
                                        />
                                        <label for="id_shipment_{{ forloop.counter0 }}" class="selecter-field"></label>
                                        <label for="id_shipment_{{ forloop.counter0 }}" class="selecter-text">shipment</label>
                                    </div>

                                    <div class="selecter radio">
                                        <input class="input"
                                               type="radio"
                                               id="id_invoice_{{ forloop.counter0 }}"
                                               name="invoice"
                                               value="{{ item.pk }}"
                                               {% if forloop.counter0 == 0 %}
                                               checked
                                               {% endif %}
                                        />
                                        <label for="id_invoice_{{ forloop.counter0 }}" class="selecter-field"></label>
                                        <label for="id_invoice_{{ forloop.counter0 }}" class="selecter-text">invoice</label>
                                    </div>
                                </div>

                            </div>
                        </div><!-- address_block change_length -->

                    {% endfor %}

                    <div class="address_block new">
                        <div>

                            <div class="address_block-shell"></div>

                            <div class="address_block-title"> Add new address </div>

                            <a class="address_block-image" href="{% redirect 'user.account.addresses' 'payment' %}"></a>

                        </div>
                    </div><!-- address_block new -->

                </form>

            {% endif %}



        {% else %} <!-- //////////////////////  ADDRESS IS VALIDATE  ////////////////////// -->

            <div class="title">Choose payment method</div>

            <div class="cart-list-button">
                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                    {{ paypal.as_p }}

                    <button class="payment-button button"
                            type="submit">
                        PayPal
                    </button>

                </form>
            </div>

            <div class="cart-list-button">
                <form action="https://ssl.dotpay.pl/test_payment/" method="post">
                    {{ dotpay.as_p }}

                    <button class="payment-button button"
                            type="submit">
                        Dotpay
                    </button>

                </form>
            </div>

            <div class="cart-list-button">
                <form action="https://ssl.dotpay.pl/test_payment/" method="post">
                    {{ dotpay.as_p }}

                    <button class="payment-button button"
                            type="submit">
                        Cash on delivery
                    </button>

                </form>
            </div>

            <div class="cart-list-button">
                <form action="https://ssl.dotpay.pl/test_payment/" method="post">
                    {{ dotpay.as_p }}

                    <button class="payment-button button"
                            type="submit">
                        Delayed transfer
                    </button>

                </form>
            </div>

        {% endif %}


    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}