{% load tags %}

<script>
	APP.DATA = {
		title : 'Payment',
		description : '',
	};

	APP.throw_event(EVENTS.part.close_cart);
</script>


<div class="ground-block block-1 MEDIUM payment_choose">

	<div class="block-background fill-abs"></div>
	{% include "block/ground/html/navigation.html" %}

	{% include "block/ground/html/go_back.html" with href='/payment/' %}


	<div class="block-content">

		<div class="title">Choose payment method</div>

		<div class="is-font-0-only_this">

			{% if avaible.paypal %}
				<div class="payment-shell-height">
					<div class="payment-shell-width">

						<form class="payment-button_shell" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
							{{ paypal.as_p }}

							<button class="payment-button button is-width-100">
								PayPal
							</button>
						</form>

					</div>
				</div>
			{% endif %}


			{% if avaible.delayed_transfer %}
				<div class="payment-shell-height">
					<div class="payment-shell-width">

						<a href="/payment/delayed_transfer/" class="payment-button button is-width-100">
							Delayed transfer
						</a>

					</div>
				</div>
			{% endif %}

			{% if avaible.dotpay %}
				<div class="payment-shell-height">
					<div class="payment-shell-width">

						<form class="payment-button_shell" action="https://ssl.dotpay.pl/test_payment/" method="post">
							{{ dotpay.as_p }}

							<button class="payment-button button is-width-100">
								Dotpay
							</button>

						</form>

					</div>
				</div>
			{% endif %}

		</div>


	</div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}