{% load tags %}

<script>
	APP.DATA = {
		title : 'Choose delivery method',
		description : '',
	};

	APP.throw_event(EVENTS.part.close_cart);
</script>


<div class="ground-block block-1 MEDIUM payment_choose">

	<div class="block-background fill-abs"></div>
	{% include "block/ground/html/navigation.html" %}

	{% include "block/ground/html/go_back.html" with href='/payment/' %}


	<div class="block-content">

		<div class="title">Choose delivery method</div>

		<form method="post" data-name="delivery" class="is-font-0-only_this">

			<div class="payment-shell-height">
				<div class="payment-shell-width">

					<input id="id_courier"
					       name="delivery"
					       value="courier"
					       type="radio"
					       class="is-hidden if_feature"
					       data-id="courier">

					<label for="id_courier" class="payment-button button is-center-inside">
						Courier
					</label>

				</div>
			</div>

			<div class="payment-shell-height">
				<div class="payment-shell-width">

					<input id="id_cash_on_delivery"
					       name="delivery"
					       value="cash_on_delivery"
					       type="radio"
					       class="is-hidden if_feature"
					       data-id="cash_on_delivery">

					<label for="id_cash_on_delivery" class="payment-button button is-center-inside">
						Courier - cash on delivery
					</label>

				</div>
			</div>

			<div class="payment-shell-height">
				<div class="payment-shell-width">

					<input id="id_personal_receipt"
					       name="delivery"
					       value="personal_receipt"
					       type="radio"
					       class="is-hidden if_feature"
					       data-id="personal_receipt">

					<label for="id_personal_receipt" class="payment-button  button">
						Personal receipt
					</label>

				</div>
			</div>



			<div class="to_pay set_feature is-right-inside" data-id="courier" data-feature="hidden">
				<div>Cost of delivery: {{ delivery_price }} {{ request.session.currency_selected }}</div>
				<div>
					<button class="button is-important is-width-20px is-bold">Next</button>
				</div>
			</div>

			<div class="to_pay set_feature is-right-inside" data-id="cash_on_delivery" data-feature="hidden">
				<div>Cost of delivery: {{ cash_on_delivery }} {{ request.session.currency_selected }}</div>
				<div>
					<button class="button is-important is-width-20px is-bold">Next</button>
				</div>
			</div>

			<div class="to_pay set_feature is-right-inside" data-id="personal_receipt" data-feature="hidden">
				<div>Cost of delivery: 0.00 {{ request.session.currency_selected }}</div>
				<div>
					<button class="button is-important is-width-20px is-bold">Next</button>
				</div>
			</div>


		</form>


	</div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}