<script>
    window.APP.DATA = {
        title : 'Users payments',
        description : ''
    };
</script>

<div class="ground-block block-1 BIG users_payments">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        <div class="title">Users payments</div>


        <form class="users_payments-filters auto_form field_shell" action="" data-origin="filter" data-reload="ground" data-delay="100">

            <input name="date_from" type="date" class="auto_field" data-name="date_from" value="{{ date_from }}" />

            <input name="date_to" type="date" class="auto_field" data-name="date_to" value="{{ date_to }}"/>


            <div class="tooltip align-left align-top">
                <button class="tooltip_button submit"
                        data-name="description">
                    Category
                </button>

                <div class="tooltip-options">
                    <button class="post_button"
                            data-name="payment_status_pending"
                            data-action="change"
                            data-value="pending"
                            data-reload="ground">
                        Pending
                    </button>
                    <button class="post_button"
                            type="button"
                            data-name="payment_status_card"
                            data-action="change"
                            data-value="card"
                            data-reload="ground">
                        Card
                    </button>
                    <button class="post_button"
                            type="button"
                            data-name="payment_status_internal"
                            data-action="change"
                            data-value="internal"
                            data-reload="ground">
                        Internal
                    </button>
                    <button class="post_button"
                            type="button"
                            data-name="payment_status_external"
                            data-action="change"
                            data-value="external"
                            data-reload="ground">
                        External
                    </button>
                    <button class="post_button"
                            type="button"
                            data-name="payment_status_completed"
                            data-action="change"
                            data-value="completed"
                            data-reload="ground">
                        Completed
                    </button>
                </div>
            </div>

        </form>


        {% include "cart/html/users_payments.html" %}


    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
