{% load tags %}

<script>
  window.APP.DATA = {
    title : 'Payment'
    , description : 'This page is about us. ;)'
  };
</script>

<div class="ground-block block-1" id="PAYMENT">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content payment">

        <ul class="cart-list">

            {% if cart %}

                {% if payment_address %}

                    {% for selected in cart %}

                    <li>
                        <div class="cart-list-name">
                            <a href="/product/{{ selected.product.pk }}/{% product_name_url selected.product %}/">
                                {% product_name_url selected.product %}
                            </a>
                        </div>
                        <div class="cart-list-actions field_shell"> {{ selected.number }} x {% get_price selected.product %}
                            <button class="post_button" type="button"
                                  data-name="Delete_{{ selected.product.pk }}"
                                  data-action="delete"
                                  data-value="{{ selected.product.pk }}"
                                  data-reload="cart ground"
                                  data-url="/cart/">X</button>
                        </div>
                    </li>

                    {% endfor %}

                    <li>
                        <br />
                        Total price: {{ total_price }} {{ request.session.translator_currency }}<br />
                    </li>


                    <br><br>Select address: <br>
                    {% for item in address %}

                        <li>
                            {{ item.full_name }}
                            {{ item.address_line }}
                            {{ item.city }}
                            {{ item.region }}
                            {{ item.postcode }}
                            {{ item.country }}
                        </li>

                    {% endfor %}

                    <li>
                        <div class="form_address">
                            <form method="post" action="" data-name="{{ form_name }}" data-type="payment_address" data-test="yes">

                                <div class="shell_form"></div>

                                <div class="title"> Other address </div>

                                {% for field in payment_address %}

                                    {{ field }}
                                    {{ field.errors }}

                                {% endfor %}

                                <div>
                                    <button disabled type="submit"> Save </button>
                                </div>

                            </form>
                        </div>
                    </li>

                {% else %}

                    <li>
                        <div class="cart-list-button">
                            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                OPIS DLA PAYPAL <br>
                                {{ paypal.as_p }}
                                <input class="button" type="submit" value="PayPal" />
                            </form>
                        </div>
                        <div class="cart-list-button">
                            <form action="https://ssl.dotpay.pl/test_payment/" method="post">
                                OPIS DLA DOTPAY <br>
                                {{ dotpay.as_p }}
                                <input class="button" type="submit" value="Dotpay" />
                            </form>
                        </div>
                    </li>

                {% endif %}

            {% else %}

                <li>
                    <div class="cart-list-empty">
                      Payment is empty
                    </div>
                </li>

            {% endif %}

        </ul>

    </div>

</div>
