{% load staticfiles %}

<div class="searcher-header"></div>

<div class="searcher-logo">
  <a href="/"><img data-src="{% static 'img/logo.png' %}" src="{% static 'img/pixel.png' %}" alt="SPA Sungate" title="Home page"></a>
</div>


<!--<h1 class="logo_text">-->
    <!--<a href="/">Shop - fillers</a>-->
<!--</h1>-->


<div class="searcher-searcher auto_form">
    <form action="/searcher/" data-origin="filter" data-target="ground">
        <input class="input auto_field"
			   type="text"
			   name="search"
			   placeholder="Search"
			   data-name="phrase" />
    </form>
</div>


<form class="searcher-filters auto_form" action="/searcher/" data-origin="filter" data-target="ground">

    <div class="searcher-sort">
        <div>
            <select name="sort_by" class="auto_field" data-name="order_name">
                <option value="search_accuracy" selected> search accuracy </option>
                <option value="price"> price </option>
                <option value="name_of_product"> name of product </option>
            </select>
        </div>
    </div><!-- searcher-sort -->


    <div class="searcher-order">
        <div>
            <select name="order_by" class="auto_field" data-name="order_direction">
                <option value="descending" selected> descending </option>
                <option value="ascending"> ascending </option>
            </select>
        </div>
    </div><!-- searcher-order -->


    <div class="searcher-filters-title">Brand</div>

    <div class="searcher-filters-content">
        <ul>
            {% for brand in brands %}

                <li class="checkbox">
                    <input type="checkbox" class="auto_field"
                           data-name="brand"
                           id="id_{{ brand.name }}"
                           name="{{ brand.name }}" />
                    <label for="id_{{ brand.name }}" class="checkbox-field"></label>
                    <label for="id_{{ brand.name }}" class="checkbox-text">{{ brand.name }}</label>
                </li>

            {% endfor %}
        </ul>
    </div><!-- searcher-filters-content -->


    <div class="searcher-filters-title">Purpose</div>

    <div class="searcher-filters-content">
        <ul>
            {% for purpose in purposes %}

                <li class="checkbox">
                    <input type="checkbox" class="auto_field"
                           data-name="purpose"
                           id="id_{% purpose_name purpose %}"
                           name="{% purpose_name purpose %}" />
                    <label for="id_{% purpose_name purpose %}" class="checkbox-field"></label>
                    <label for="id_{% purpose_name purpose %}" class="checkbox-text">{% purpose_name purpose %}</label>
                </li>
            <!--<li> <input name="{% purpose_name purpose %}" type="checkbox" class="auto_field" data-name="purpose" /> <label for>{% purpose_name purpose %}</label> </li>-->

            {% endfor %}
        </ul>
    </div><!-- searcher-filters-content -->

</form><!-- searcher-filters -->