{% load staticfiles %}
{% load tags %}

<div class="footer-content">


    <!-- ////////////    COOKIES    ////////////// -->

    <div class="footer-cookies">
        <span class="footer-cookies-content">This website uses cookies. By using our services you agree to our use of cookies.</span>
    </div><!-- footer-cookies -->



    <!-- ////////////    SOCIAL    ////////////// -->

    <div class="footer-social">

        {% if request.session.root_login %}
            <div class="footer-edit buttons_to_action">
                <a class="button is-important" href="/root/social_media/">Edit</a>
            </div>
        {% endif %}


        <div class="footer-social-element">
            <div class="footer-social-icon">
                <div class="footer-social-dot"></div>
            </div>
        </div>


        {% for element in request.session.root_social_media %}

            {% if element.url and element.type == 'social' %}
                <a class="footer-social-link is-zoom" href="{{ element.url }}" target="_blank">
                    <div class="footer-social-icon footer-social-{{ element.pk }}"></div>
                </a>
            {% endif %}

        {% endfor %}


        <div class="footer-social-element">
            <div class="footer-social-icon">
                <div class="footer-social-dot"></div>
            </div>
        </div>

    </div><!-- footer-social -->

    <div class="is-center-inside">
        {% for element in request.session.root_social_media %}

            {% if element.url and element.type == 'private' %}
                <div>
                    <a href="{{ element.url }}" target="_blank">
                        {{ element.url }}
                    </a>
                </div>
            {% endif %}

        {% endfor %}
    </div>


    <!-- ////////////    NAVIGATION    ////////////// -->

    <div class="footer-navigation">

        <a class="footer-navigation-link" href="/contact/">
            Contact
        </a>

        <span class="footer-navigation-separator">|</span>

        <a class="footer-navigation-link" href="/user/agreement/">
            User Agreement
        </a>

        <span class="footer-navigation-separator">|</span>

        <div class="footer-navigation-link dialog_button"
             data-type="alert"
             data-name="icons">
            Credits
        </div>

        <span class="footer-navigation-separator">|</span>

        <a class="footer-navigation-link" href="/user/sign_up/">
            Sign up
        </a>

    </div><!-- footer-navigation -->



    <!-- ////////////    CONTACT    ////////////// -->

    <div class="footer-contact">

        {% if request.session.root_login %}
            <div class="footer-edit buttons_to_action">
                <a class="button is-important" href="/root/company_details/">
                    Edit
                </a>
            </div>
        {% endif %}


        {% var 'root_address' request.session.root_address %}
        {% var 'root_for_public' request.session.root_for_public %}


        {% if root_for_public.email %}
            <div class="footer-contact-element">
                <i class="footer-contact-icon img-email">&nbsp;</i>

                <span><a href="mailto:{{ request.session.root_address.email }}">{{ request.session.root_address.email }}</a></span>
            </div>
        {% endif %}


        {% if root_for_public.phones and root_address.phone_1 %}
            <div class="footer-contact-element">
                <i class="footer-contact-icon img-telephone">&nbsp;</i>

                <span>
                    tel. <a href="tel:{{ root_address.phone_1 }}">{{ root_address.phone_1 }}</a><br>
                    tel. <a href="tel:{{ root_address.phone_2 }}">{{ root_address.phone_2 }}</a><br>
                </span>
            </div>
        {% endif %}


        {% if root_for_public.address %}
            <div class="footer-contact-element">
                <i class="footer-contact-icon img-home">&nbsp;</i>

                <span>
                    {{ request.session.root_address.address_line }}
                    <br>
                    {{ request.session.root_address.postcode }}
                    {{ request.session.root_address.city }}
                </span>
            </div>
        {% endif %}

    </div><!-- footer-contact -->



    <!-- ////////////    AUTHOR    ////////////// -->

    <div class="footer-author">

        <span class="footer-author-text">
            © 2016 ArbuzTeam. All Rights Reserved
        </span>

        <span class="footer-author-separator">|</span>

        <a class="footer-author-link" href="{% redirect 'root.sign_in' 'root.start' %}">
            Login
        </a>

        <span class="footer-author-separator">|</span>

        <a class="footer-author-link" href="https://www.arbuz.team/">
            ArbuzTeam
        </a>

    </div><!-- footer-author -->

</div>
