{% load tags %}

{% if request.session.user_login %}

    <div class="cart-close button is-icon event_button" data-name="cart-close_cart" data-event="part.close_cart">
        <span class="button-icon img-close">&nbsp;</span>
        <span class="button-text">esc</span>
    </div>

    <div class="cart-title"> Shopping cart </div>

    <ul class="cart-list">

        {% if cart %}

            {% for selected in cart %}

                <li class="cart-list-product is-inline-inside">

                    <div class="cart-list-product-name">
                        <a href="/product/{{ selected.product.pk }}/{{ selected.product.url_name }}/">
                            {{ selected.product.name }}
                        </a>
                    </div>


                    <div class="cart-list-product-actions">
                        <form class="auto_form" action="/cart/" data-origin="little">

                            <input class="cart-list-product-number input auto_field only_number_3 always"
                                   type="text"
                                   title="Number of products"
                                   value="{{ selected.number }}"
                                   data-name="{{ selected.pk }}" />

                            <span class="cart-list-product-price"> x {{ selected.product.price }}</span>

                            <button class="cart-list-product-remove button is-icon post_button"
                                    type="button"
                                    data-name="Delete_{{ selected.product.pk }}"
                                    data-action="delete"
                                    data-value="{{ selected.product.pk }}"
                                    data-reload="cart ground"
                                    data-url="/cart/">
                                <span class="button-icon img-waste_bin"> &nbsp; </span>
                            </button>

                        </form>
                    </div>

                </li>

            {% endfor %}


            <li class="cart-list-total_price is-inline-inside">
                <div class="cart-list-total_price-title">Total price:</div>
                <div class="cart-list-total_price-price">{{ payment.total_price }} {{ request.session.translator_currency }}</div>
            </li>


            <li class="is-inline-inside">

                <div class="cart-list-button">
                    <button class="button dialog_button"
                            type="button"
                            data-type="confirm"
                            data-name="clear_cart"
                            data-dialog-name="Clear_cart"
                            data-dialog-action="clear"
                            data-dialog-reload="cart"
                            data-dialog-event="plugins.close_cart"
                            data-dialog-url="/cart/">
                        Clear cart
                    </button>
                </div>

                <a class="cart-list-button" href="/payment/">
                    <button class="button is-brown" type="button">Go to payments</button>
                </a>

            </li>

        {% else %}

            <li>
                <div class="cart-list-empty">
                    Cart is empty
                </div>
            </li>

        {% endif %}

    </ul><!-- cart-list -->
{% else %}

    Loading...

{% endif %}