<script>
    APP.DATA = {
        title : 'Zmień hasło',
        description : '',
    };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        {% if not form %}

            <div class="block-content-message">
                Hasło zostało zmienione.
            </div>

            <script>
                APP.DATA.redirect = '/user/sign_in/';
                APP.DATA.delay = 2000;
                APP.throw_event(EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Podaj nowe hasło </div>

                {% for field in form %}

					{% include "form/html/manage_field.html" %}

                {% endfor %}

                <div>
					<button class="button is-important" type="submit"
							disabled>
						Zmień hasło
					</button>
				</div>

                <div>
                    <a class="form_buttons" href="/użytkownik/zaloguj/">
						<button class="button" type="button"> Wróć do logowania </button>
					</a>
                </div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
