<script>
window.APP.DATA = {
title : 'Register',
description : 'Here you can register.'
};
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        {% if not form %}

            <div class="block-content-message">
            Hello {{ self.request.session.user_username }}, so nice to meet you! Visit your mailbox and active account ;)
            </div>

            <script>
            window.APP.DATA.redirect = '/';
            window.APP.DATA.delay = 2000;
            window.dispatchEvent(window.EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Register </div>

                {% for i in form %}

                    {% if i.name == 'password' %}

                        <div>
                            {{ i }}
                            <input type="checkbox" class="show_password" />
                            {{ i.errors }}
                            <div class="status"></div>
                        </div>

                    {% else %}

                        <div>
                            {{ i }}
                            {{ i.errors }}
                            <div class="status"></div>
                        </div>

                    {% endif %}

                {% endfor %}

                By sign up, you agree that you've read and accepted our <a href="">User Agreement</a>.

                <div class="form_buttons long"><button disabled type="submit"> Done </button></div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "part/ground/html/footer.html" %}
