<script>
  APP.DATA = {
    title : 'Ulubione produkty',
    description : ''
  };
</script>


<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

        {% if elements %}
            {% include 'block/ground/plugin/product/html/tiles_net/favorite_products.html' %}
        {% else %}
            <div class="block-content-message"> Nie masz ulubionych produktów </div>
        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "PL/footer/standard.html" %}
