<script>
  window.APP.DATA = {
    title : 'New catalog',
    description : ''
  };
</script>


<div class="ground-block block-1 BIG">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        {% if not form %}

            Product has been insert to databases.
            <script>
                window.APP.DATA.redirect = '/catalog/new/';
                window.APP.DATA.delay = 2000;
                window.dispatchEvent(window.EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" class="field_shell">
                {{ form.as_p }}

                <div>
                    <button type="submit"> Insert </button>
                </div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}