
<li class="menu-field navigation-secondary-searcher" title="CTRL+SHIFT+S">
	<div class="button is-icon fill-abs event_button" data-name="secondary-open_searcher" data-event="part.open_searcher">
		<span class="button-icon img-searcher-light"> &nbsp; </span>
		<span class="button-text">Search </span>
	</div>
</li>

{% if request.session.root_login %}

	<li class="menu-field menu-field-space for-searcher"> | </li>

	<li class="navigation-field menu_mobile-tile">
		<a class="fill-abs" href="/root/">
			Root settings
		</a>
	</li>

	<li class="menu-field menu-field-space"> | </li>

	<li class="navigation-field menu_mobile-tile">
		<a class="fill-abs" href="/root/sign_out/">
			Root sign out
		</a>
	</li>

	<li class="menu-field menu-field-space"> | </li>


	{% if request.session.notification_is_unreaded %}

		<li class="navigation-field menu_mobile-tile">
			<div class="dialog_button fill-abs is-bold is-text-has-notifications" data-type="alert" data-name="notifications">
				Notifications
			</div>
		</li>

	{% else %}

		<li class="navigation-field menu_mobile-tile">
			<div class="dialog_button fill-abs is-bold" data-type="alert" data-name="notifications">
				Notifications
			</div>
		</li>

	{% endif %}


{% endif %}