

<li class="menu-navigation-mobile-field is-float-left">
	<button class="button is-icon event_button"
			type="button"
			data-name="mobile-open_searcher"
			data-event="part.open_searcher">
		<span class="button-icon img-searcher"> &nbsp; </span>
	</button>
</li>


{% if request.session.notification_is_unreaded %}
<li class="menu-navigation-mobile-field is-has-notifications">
{% else %}
<li class="menu-navigation-mobile-field">
{% endif %}
	<button class="button is-icon event_button"
			type="button"
			data-name="mobile-open_navigation"
			data-event="part.open_menu_mobile">
		<span class="button-icon img-lines_menu"> &nbsp; </span>
	</button>
</li>


{% if request.session.user_login %}

	<li class="menu-navigation-mobile-field is-float-right">
		<button class="button is-icon event_button"
				type="button"
				data-name="mobile-open_or_close_cart"
				data-event="part.open_or_close_cart">
			<span class="button-icon img-shopping_cart"> &nbsp; </span>
		</button>
	</li>

{% else %}

	<li class="menu-navigation-mobile-field is-float-right">
		<a class="button is-icon event_button"
		   href="{% url 'user.sign_in' %}">
			<span class="button-icon img-shopping_cart"> &nbsp; </span>
		</a>
	</li>

{% endif %}