{% load tags %}

{% if request.session.user_login %}

	<li class="navigation-field menu_mobile-tile">
		<a class="fill-abs" href="{% url 'user.sign_out' %}">
			{% text 254 %}<!--Sign out-->
		</a>
	</li>

{% else %}

	<li class="navigation-field menu_mobile-tile">
		<a class="fill-abs" href="{% url 'user.sign_up' %}">
			{% text 255 %}<!--Sign up-->
		</a>
	</li>

{% endif %}


<li class="menu-field menu-field-space"> | </li>

<li class="navigation-field">
	<a class="fill-abs" href="{% url 'main.contact' %}">
		{% text 260 %}<!--Contact-->
	</a>
</li>

<li class="menu-field menu-field-space"> | </li>


{% if request.session.user_login %}

	<li class="navigation-secondary-cart navigation-field" title="CTRL+SHIFT+X">
		<div class="fill-abs event_button" data-name="navigation-open_or_close_cart" data-event="part.open_or_close_cart">
			{% text 261 %}<!--Cart-->
		</div>
	</li>

{% else %}

	<li class="navigation-field">
		<a class="fill-abs" href="{% url 'user.sign_in_cart' %}">
			{% text 261 %}<!--Cart-->
		</a>
	</li>

{% endif %}