
<li class="menu_mobile-tile">
	<a class="button is-icon fill-abs" href="/">
		<span class="button-icon img-home-light-64"> &nbsp; </span>
	</a>
</li>


{% if request.session.root_login %}

	<li class="menu_mobile-tile">
		<a class="button is-icon fill-abs" href="/root/">
			<span class="button-icon img-simple_settings-light-64"> &nbsp; </span>
		</a>
	</li>


	<li class="menu_mobile-tile">
		<div class="button is-icon dialog_button fill-abs" data-type="alert" data-name="recommended">
			<span class="button-icon img-has_notifications-64"> &nbsp; </span>
		</div>
	</li>


	<li class="menu_mobile-tile">
		<a class="button is-icon fill-abs" href="/root/sign_out/">
			<span class="button-icon img-shut_down-light-64"> &nbsp; </span>
		</a>
	</li>

{% else %}



	{% if not request.session.user_login %}

		<li class="navigation-field menu_mobile-tile">
			<a class="button is-icon fill-abs" href="/user/sign_up/">
				<span class="button-icon img-businessman-light-64"> &nbsp; </span>
			</a>
		</li>


		<li class="navigation-field menu_mobile-tile">
			<a class="button is-icon fill-abs" href="/user/sign_in/">
				<span class="button-icon img-padlock_open-light-64"> &nbsp; </span>
			</a>
		</li>

	{% else %}

		<li class="navigation-field menu_mobile-tile">
			<a class="button is-icon fill-abs" href="/user/account/">
				<span class="button-icon img-simple_settings-light-64"> &nbsp; </span>
			</a>
		</li>

	{% endif %}


	<li class="navigation-field menu_mobile-tile">
		<a class="button is-icon fill-abs" href="/contact/">
			<span class="button-icon img-telephone-light-64"> &nbsp; </span>
		</a>
	</li>


	{% if request.session.user_login %}

		<li class="navigation-field menu_mobile-tile">
			<a class="button is-icon fill-abs" href="/user/sign_out/">
				<span class="button-icon img-shut_down-light-64"> &nbsp; </span>
			</a>
		</li>

	{% endif %}


{% endif %}