
.field_without_styles
  line-height: inherit
  margin: 0
  padding: 0

  background: none
  border: none
    radius: 0
  outline: none

  font:
    size: 14px
    family: 'OS_Regular', sans-serif



// -- STANDARD

.std_field
  @extend .field_without_styles

  max-width: 100%

  margin: 2px 3px
    bottom: 8px
  line-height: 25px
  padding: 5px 10px

  border: 1px solid #d9d9d9
    top: 1px solid #c0c0c0
    radius: 3px

  &:disabled
    background-color: #efefef
    border: 1px solid #d9d9d9

  &:focus
    border: 1px solid #b9b9b9
      top: 1px solid #a0a0a0
    +box-shadow(inset 0 1px 2px rgba(0,0,0,0.1))



// -- BUTTONS

.std_button
  cursor: pointer
  text-align: center


.button
  @extend .std_field
  @extend .std_button

  display: inline-block
  background:
    image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1)
    color: #f2f2f2
  border: 1px solid #f2f2f2

  &:hover
    background:
      image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1)
      color: #f8f8f8
    border: 1px solid #c6c6c6


  &:focus
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1)
    border: 1px solid #726229


  &.is-important
    background-color: lighten($Tundora, 5)
    +linear-gradient(top, lighten($Tundora, 5), $Tundora)
    border: 1px solid $Tundora
    color: $White

    &:hover
      background-color: lighten($Tundora, 3)
      +linear-gradient(top, lighten($Tundora, 3), darken($Tundora, 5))
      border: 1px solid darken($Tundora, 5)


  &.is-dangerous
    background-color: $Pomegranate
    +linear-gradient(top, $Pomegranate, $Persian_Red)
    border: 1px solid $Persian_Red
    color: $White


  &:disabled, &.is-disabled
    &, &:hover
      background:
        color: #efefef
        image: none
      border: 1px solid #d9d9d9
      color: #333



// -- OTHERS

.textarea
  @extend .std_field

  display: block
  max-width: 100%


.input
  @extend .std_field

  &[type=date]
    min-width: 145px
    width: 145px
    padding-right: 0


  &[type=number]
    max-width: 100px
    width: 100px


.status-external
  position: relative
  top: -6px
  left: 5px

  font-size: 14px
  line-height: 18px
  color: #dd4b39


.status
  @extend .status-external


.form_error
  border: 1px solid #dd4b39 !important

