{% load staticfiles %}
{% load tags %}

<script>
  window.APP.DATA = {
    title : ''
    , description : 'This is home page.'
  };
</script>

<div class="ground-block block-1" data-name="start">

  <div class="block-background fill-abs"></div>

  <div class="block-content">

      <div class="block-content-banner"><img data-src="{% static 'img/banners/banner_1.jpg' %}" src="{% static 'img/pixel.png' %}" alt="Really beautiful"></div>

      <div class="block-content-describe">Describe briefly your company! ;)</div>

      {% include 'products/html/tiles_recommended.html' %}

  </div>

</div>

{% include "ground/html/footer.html" %}