{% extends 'EN/sender/template.html' %}
{% load tags %}

{% block content %}

    <p class="paragraph">
        Hi!
    </p>

    <p class="paragraph">
        You have bought product.
    </p>

    <p class="paragraph">

        {% for selected in selected_products %}

            {{ selected.product }}
            {{ selected.number }} x
            {% get_price selected.product payment.currency %} <br>

        {% endfor %}

        {{ payment.user }} <br>
        {{ payment.user.email }} <br>
        {{ payment.total_price }} <br>
        {{ payment.service }} <br>

    </p

{% endblock content %}
