{% load tags %}

<div class="dialog-header">
    {{ title }}
</div>


<div class="dialog-content">

    <!--data-type="{{ form_name }}" data-test="yes"-->
    <form method="post" data-name="{{ form_name }}">

        {{ form.non_field_errors }}

        <div class="dialog-content-part">
            <!--fields of form-->
            {% for field in form %}

                <div class="file_shell">
                    {% if field|fieldtype == 'ClearableFileInput'%}

                        {{ field }}
                        <button type="button">Select file</button>
                        {{ field.errors }}

                    {% else %}

                        {{ field }}
                        {{ field.errors }}

                    {% endif %}
                    <div class="status"></div>
                </div>

            {% endfor %}

            {% if image %}
                <img data-src="{{ image }}" alt="image">
            {% endif %}

        </div>

        <div class="dialog-content-part">
            <!--buttons-->
            <button type="button" class="dialog-content-button" data-name="cancel"> Cancel </button>
            <button type="button" class="dialog-content-button" data-name="send"> Accept </button>
        </div>

    </form>

</div>