

.product
  overflow: hidden
  margin-bottom: 10px
  padding: 30px

  cursor: pointer

  >a, >div
    display: block
    height: 100%

    >.product-img
      +my-box()

      position: relative
      width: 100%
      padding: 0
        top: 80%
      overflow: hidden

      >div
        text-align: center

        >img
          max-width: 100%
          max-height: 100%

          vertical-align: middle


    >.product-title
      font-weight: bold



//-----------------------------------------
//					  	EKRAN KOMPUTERA
//-----------------------------------------

  @media (min-width: 768px)

    .product
      border: 1px solid
        color: #e5e6e9 #dfe0e4 #d0d1d5


  @media (min-width: 870px)


  @media (min-width: 992px)


  @media (min-width: 1200px)

