
.field_shell

  .tooltip
    position: relative

    &:hover .tooltip-options
      display: block

  .tooltip-options
    display: none

    position: absolute
    left: 0
    top: 100%

    width: 150px

    background-color: #eee
    border: 1px solid #DDD
      radius: 1px

    >button
      display: block
      width: 100%
      margin: 0

      background:
        color: transparent
        image: none
      border: none
        bottom: 1px solid #DDD
        radius: 0

      text-align: left

      &:last-child
        border-bottom: none


