
{% include "arbuz/html/admission.html" %}
<!------------- Container - start -------------->


    <!-- Navigation -->
    {% include "navigation/html/main.html" %}

    <!-- Searcher -->
    {% include "searcher/html/main.html" %}

    <!-- Header -->
    {% include "header/html/main.html" %}

    <!-- Content -->
    {% include "ground/html/main.html" %}

    <!-- Cart -->
    {% include "cart/html/main.html" %}

    <!-- Dialogue window -->
    {% include "dialog/html/main.html" %}


<!------------- Container - end -------------->
{% include "arbuz/html/ending.html" %}