
{% include "arbuz/html/admission.html" %}
<!------------- Container - start -------------->


    <!-- Navigation -->
    {% include "part/navigation/html/main.html" %}

    <!-- Searcher -->
    {% include "part/searcher/html/main.html" %}

    <!-- Header -->
    {% include "part/header/html/main.html" %}

    <!-- Content -->
    {% include "part/ground/html/main.html" %}

    <!-- Cart -->
    {% include "part/cart/html/main.html" %}

    <!-- Dialogue window -->
    {% include "part/dialog/html/main.html" %}


<!------------- Container - end -------------->
{% include "arbuz/html/ending.html" %}