
{% include "arbuz/html/admission.html" %}
<!------------- Container - start -------------->


    <!-- Navigation -->
    {% include "block/menu_mobile/html/main.html" %}

    <!-- Searcher -->
    {% include "block/searcher/html/main.html" %}

    <!-- Header -->
    {% include "block/header/html/main.html" %}

    <!-- Content -->
    {% include "block/ground/html/main.html" %}

    <!-- Cart -->
    {% include "block/cart/html/main.html" %}

    <!-- Dialogue window -->
    {% include "block/dialog/html/main.html" %}


<!------------- Container - end -------------->
{% include "arbuz/html/ending.html" %}