{% load staticfiles %}
{% load tags %}

<script>
    window.APP.DATA = {
        title : '',
        description : 'This is home page.',
    };
</script>

<div class="ground-block block-1 start">

    <div class="block-background fill-abs"></div>

    <div class="block-content">

        <div class="block-content-recommended-title"><span>Polecamy</span></div>

        {% include 'part/ground/plugin/product/html/tiles_list/recommended_products.html' %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/start.html" %}