{% load staticfiles %}
{% load tags %}

<li class="product new">
    <div class="dialog_button" data-type="alert" data-name="recommended">

        <div class="product-img mini_image"></div>

        <div class="product-title"> Add recommended product </div>

    </div>
</li>

<!--<li class="product new">-->
    <!--<a href="/product/new/">-->

        <!--<div class="product-img mini_image"></div>-->

        <!--<div class="product-title"> Add new product </div>-->
    <!--</a>-->
<!--</li>-->
