{% load staticfiles %}
{% load tags %}

<li class="tile" data-id="{{ catalog.pk }}">
    <a href="{{ catalog.url_name }}/">

        <div class="tile-img mini_image">
            <div class="fill-abs">
                <img data-src="{{ catalog.image }}" alt="{{ catalog.name }}" src="{% static 'img/pixel.png' %}" />
            </div>
        </div>

        <h3 class="tile-title">
            {{ catalog.name }}
        </h3>
    </a>

    <div class="tile-content field_shell">
        {% if request.session.root_login %}
            <button class="dialog_button icon"
                    type="button"
                    data-type="prompt"
                    data-name="catalog"
                    data-value="{{ catalog.pk }}"
                    data-dialog-reload="ground">
                <i style="background-image: url(/_static/img/icons/32/dark/edit.png)"> &nbsp; </i>
            </button>
        {% endif %}
    </div>
</li>


