{% load staticfiles %}
{% load tags %}

<li class="catalog" data-id="{{ catalog.pk }}">
    <a href="/catalog/{{ catalog.pk }}/{% catalog_name_url catalog %}/">

        <div class="catalog-img mini_image">
            <div class="fill-abs">
                <img data-src="{{ catalog.image }}" alt="{% catalog_name catalog %}" src="{% static 'img/pixel.png' %}" />
            </div>
        </div>

        <h3 class="catalog-title"> {% catalog_name catalog %} </h3>
    </a>

    <div class="catalog-content field_shell">

        <div class="catalog-content-details">
            <a href="/catalog/{{ catalog.pk }}/{% catalog_name_url catalog %}/"><button type="button">Show products...</button></a>
        </div>

    </div>
</li>


