{% load staticfiles %}
{% load tags %}

<li class="tile" data-id="{{ product.pk }}">
    <a href="/product/{{ product.pk }}/{% product_name_url product %}/">

        <div class="tile-img mini_image">
            <div class="fill-abs">
                <img data-src="{{ product.image }}" alt="{% product_name product %}" src="{% static 'img/pixel.png' %}" />
            </div>
        </div>

        <h3 class="tile-title"> {% product_name product %} </h3>
    </a>

    <div class="tile-content field_shell">

        <div class="tile-content-details">
            <a href="/product/{{ product.pk }}/{% product_name_url product %}/"><button type="button">Details...</button></a>
        </div>

        <div class="tile-content-price">
            {% if request.session.user_login %}
                {% get_price product %}
            {% endif %}
        </div>
    </div>
</li>


