@charset "UTF-8";
.fill-abs, .address_block-shell, .mini_cart-shell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fill-rel {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fill-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

@font-face {
  font-family: 'OS_Regular';
  src: url("/static/img/czcionki/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OS_Bold';
  src: url("/static/img/czcionki/OpenSans-Bold.ttf"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: 'OS_Regular', sans-serif;
  font-size: 19px;
  line-height: 1.45; }

body {
  position: absolute;
  overflow: hidden; }

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }

ul {
  list-style: none; }

strong {
  font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#CONTAINTER {
  overflow: hidden;
  z-index: 3;
  background-color: #ffffff; }

div > .buttons_to_action {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 20;
  padding: 0 10px;
    padding-top: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
    border-right: none;
  -moz-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  -webkit-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  text-align: right;
  opacity: 1; }
  div > .buttons_to_action > button, div > .buttons_to_action > div > button {
    line-height: 20px; }

@media (min-width: 1000px) {
  div > .buttons_to_action {
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    -o-transition: opacity 150ms;
    transition: opacity 150ms; }
  div:hover > .buttons_to_action {
    opacity: 1; } }

.container-part {
  z-index: 5;
  overflow: visible; }

.container-part-loading {
  padding: 10px 15px; }

.container-motion {
  position: absolute;
  z-index: 60;
  display: block;
  overflow: visible; }
  .container-motion .part-hide {
    position: absolute;
    display: none; }
  .container-motion .part-hide-shadow {
    position: absolute; }

.container-part-scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.container-part-scroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  overflow-x: visible;
  overflow-y: scroll; }
  .container-part-scroll-content > div {
    position: relative; }

@media (min-width: 1000px) {
  .container-part .translucent > * {
    opacity: 0.85; }
  .container-part:hover .translucent > * {
    opacity: 1; } }

#DIALOG .ground-block, #DIALOG .footer {
  display: none !important; }

*:not(#DIALOG) > div > .dialog-header, *:not(#DIALOG) > div > .dialog-content {
  display: none; }

.is-right {
  position: absolute;
  top: 0;
  right: 0; }

.is-float-right {
  float: right; }

.is-float-left {
  float: left; }

.is-nowrap {
  white-space: nowrap;
  overflow: hidden; }

.is-inline-inside > * {
  display: inline-block; }

.is-left-inside {
  text-align: left; }

.is-right-inside {
  text-align: right; }

.is-center-inside {
  text-align: center; }

.is-mobile-visible {
  display: block; }

@media (min-width: 1000px) {
  .is-mobile-visible {
    display: none; } }

.std-img, .img-edit, .img-close, .img-waste_bin, .img-waste_bin-64, .img-shopping_cart, .img-searcher, .img-searcher-light, .img-email, .img-telephone, .img-home, .img-lines_menu, .img-flag-EN, .img-flag-PL, .img-flag-DE {
  background-image: "";
  background-size: auto auto;
  background-position: 0 0;
  background-repeat: no-repeat; }

.img-edit {
  background-image: url(/static/img/icons/32/dark/edit.png); }

.img-close {
  background-image: url(/static/img/icons/32/dark/close.png); }

.img-waste_bin {
  background-image: url(/static/img/icons/32/dark/waste_bin.png); }

.img-waste_bin-64 {
  background-image: url(/static/img/icons/64/dark/waste_bin.png); }

.img-shopping_cart {
  background-image: url(/static/img/icons/32/dark/shopping_cart.png); }

.img-searcher {
  background-image: url(/static/img/icons/32/dark/searcher.png); }

.img-searcher-light {
  background-image: url(/static/img/icons/32/light/searcher.png); }

.img-email {
  background-image: url(/static/img/icons/32/dark/email.png); }

.img-telephone {
  background-image: url(/static/img/icons/32/dark/telephone.png); }

.img-home {
  background-image: url(/static/img/icons/32/dark/home.png); }

.img-lines_menu {
  background-image: url(/static/img/icons/32/dark/lines_menu.png); }

.img-flag-EN {
  background-image: url(/static/img/flags/EN.png); }

.img-flag-PL {
  background-image: url(/static/img/flags/PL.png); }

.img-flag-DE {
  background-image: url(/static/img/flags/DE.png); }

.field_without_styles, .std_field, .button, .textarea, .input, .select, .button.is-icon, .button.is-icon:hover, .button.is-icon:focus, .button.is-icon:disabled, .searcher-phrase-field {
  line-height: inherit;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
    border-radius: 0;
  outline: none;
  font-size: 14px;
  font-family: 'OS_Regular', sans-serif; }

.std_field, .button, .textarea, .input, .select {
  max-width: 100%;
  margin: 2px 3px;
    margin-bottom: 8px;
  line-height: 25px;
  padding: 5px 10px;
  border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 3px; }
  .std_field:disabled, .button:disabled, .textarea:disabled, .input:disabled, .select:disabled {
    background-color: #efefef;
    border: 1px solid #d9d9d9; }
  .std_field:focus, .button:focus, .textarea:focus, .input:focus, .select:focus {
    border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.std_button, .button, .tooltip {
  cursor: pointer;
  text-align: center; }

.button {
  display: inline-block;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2; }
  .button:hover {
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6; }
  .button:focus {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #726229; }
  .button.is-brown {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #554721, #4a3c1f);
    background-image: -moz-linear-gradient(top, #554721, #4a3c1f);
    background-image: -ms-linear-gradient(top, #554721, #4a3c1f);
    background-image: -o-linear-gradient(top, #554721, #4a3c1f);
    background-image: linear-gradient(top, #554721, #4a3c1f);
    border: 1px solid #4a3c1f;
    color: #fff; }
  .button:disabled, .button.is-disabled {
    background-color: #efefef;
    background-image: none;
    border: 1px solid #d9d9d9;
    color: #333; }

.textarea {
  display: block;
  max-width: 100%; }

.input[type=date] {
  min-width: 145px;
  width: 145px;
  padding-right: 0; }

.input[type=number] {
  max-width: 100px;
  width: 100px; }

.status {
  display: none;
  margin: 2px 3px;
  color: #dd4b39; }

.form_error {
  border: 1px solid #dd4b39 !important; }

.field {
  border: 1px solid transparent; }

.form_block .field {
  margin: 0;
  padding: 0;
    padding-left: 5px; }

.button.is-icon, .button.is-icon:hover, .button.is-icon:focus, .button.is-icon:disabled {
  margin: 0 3px;
  height: 20px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.button.is-icon:hover .button-icon {
  opacity: 1; }

.button.is-icon .button-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: .8;
  background-image: "";
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.button.is-text_icon .button-icon {
  float: right;
  font-size: 24px; }

.selecter {
  width: 100%;
  position: relative;
  min-height: 27px;
  line-height: 27px;
  padding: 0; }
  .selecter label {
    cursor: pointer; }
  .selecter label.selecter-field {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border: 1px solid #d1d1d1;
      border-radius: 2px;
    font-size: 19px; }
  .selecter label.selecter-text {
    position: relative;
    left: 2px;
    font-size: 16px;
    opacity: .8; }
  .selecter label.selecter-field:after {
    position: absolute;
    border: none;
    background: transparent;
    opacity: 0; }
  .selecter label.selecter-field:hover::after {
    opacity: .3; }
  .selecter label.selecter-field:hover {
    border-color: #aaa; }
  .selecter label.selecter-field:hover + label.selecter-text, .selecter label.selecter-field + label.selecter-text:hover {
    opacity: 1; }
  .selecter input[type=checkbox], .selecter input[type=radio] {
    visibility: hidden; }
    .selecter input[type=checkbox]:checked + label.selecter-field, .selecter input[type=radio]:checked + label.selecter-field {
      border-color: #aaa; }
      .selecter input[type=checkbox]:checked + label.selecter-field:after, .selecter input[type=checkbox]:checked + label.selecter-field + label.selecter-text, .selecter input[type=radio]:checked + label.selecter-field:after, .selecter input[type=radio]:checked + label.selecter-field + label.selecter-text {
        opacity: 1;
        color: #555555; }

.checkbox label.selecter-field {
  border-radius: 2px; }
  .checkbox label.selecter-field:after {
    content: '\2714';
    width: 9px;
    height: 5px;
    top: -4px;
    left: 2px; }

.radio label.selecter-field {
  border-radius: 50%; }
  .radio label.selecter-field:after {
    content: '';
    width: 12px;
    height: 12px;
    top: 3px;
    left: 3px;
    background-color: #555;
    border-radius: 50%; }

.select {
  background-image: url("/static/img/icons/32/dark/sort_down.png");
  background-size: 15px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  min-width: 150px;
  padding-right: 35px;
  min-height: 37px;
  background-color: transparent;
  cursor: pointer;
  opacity: .8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .select > option {
    line-height: inherit; }
  .select:hover, .select:focus {
    opacity: .9; }

.g-recaptcha {
  margin-left: 3px;
  margin-bottom: 8px; }

.file_shell .input[type=file] {
  display: none; }

.file-tile {
  display: inline-block;
  width: 100px;
  height: 120px; }

.file-tile-content {
  position: relative;
  height: 100px;
  background: #f2f2f2;
  border: 3px dashed #d1d1d1;
  overflow: hidden;
  text-align: center; }
  .file-tile-content:hover .file-tile-remove {
    display: block; }

.file-tile-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.file-tile-remove {
  display: none;
  line-height: 100%;
  background: rgba(242, 242, 242, 0.6);
  text-align: center;
  z-index: 10; }
  .file-tile-remove .button, .file-tile-remove .button:hover, .file-tile-remove .button:focus {
    line-height: 100%;
    width: 100%;
    height: 100%; }
    .file-tile-remove .button .button-icon, .file-tile-remove .button:hover .button-icon, .file-tile-remove .button:focus .button-icon {
      width: 30px;
      height: 30px;
      opacity: 0.9; }

.file-tile-title {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  font-size: 10px;
  font-weight: bold;
  opacity: 0.7; }

.edit_field-label {
  opacity: .6;
  font-size: 15px;
  font-weight: bold; }

.edit_field-content {
  position: relative;
  padding: 5px 10px;
  opacity: .85;
  font-weight: bold; }

.edit_field:hover .button_icon {
  display: block; }

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 20; }
  .tooltip.align-left .tooltip-options {
    left: 0; }
  .tooltip.align-right .tooltip-options {
    right: 0; }
  .tooltip.align-top .tooltip-options {
    top: 100%; }
  .tooltip.align-bottom .tooltip-options {
    bottom: 100%; }

.tooltip_button:focus + .tooltip-options, .tooltip-options:hover {
  display: block; }
  .tooltip_button:focus + .tooltip-options > *, .tooltip-options:hover > * {
    background-color: #f5f5f5; }

.tooltip-options {
  display: none;
  position: absolute;
  width: 150px;
  background-color: #f0f0f0;
  border: 1px solid #e8e8e8;
    border-radius: 1px;
  z-index: 20;
  -moz-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  -webkit-box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
  box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15); }
  .tooltip-options > * {
    display: block;
    width: 100%;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: none;
      border-bottom: 1px solid #e8e8e8;
      border-radius: 0;
    text-align: left;
    color: #1a1a1a; }
    .tooltip-options > *:last-child {
      border-bottom: none; }
    .tooltip-options > *:hover {
      border: none;
        border-bottom: 1px solid #e8e8e8; }

#HEADER {
  position: relative;
  display: block;
  height: 52px;
  background-color: transparent;
  overflow: visible;
  z-index: 70; }

.header {
  position: relative;
  height: inherit;
  background-color: #ffffff; }

@media screen and (min-width: 680px) {
  #HEADER {
    height: 72px; } }

@media screen and (min-width: 1000px) {
  #HEADER {
    height: 82px;
    margin-left: 250px; } }

.header-navigation-mobile {
  display: block;
  position: relative;
  height: inherit;
  text-align: center; }

.header-navigation-mobile-field {
  display: inline-block;
  position: relative;
  z-index: 38;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px; }
  .header-navigation-mobile-field .button, .header-navigation-mobile-field .button:hover, .header-navigation-mobile-field .button:focus {
    display: block;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    line-height: 100%; }
    .header-navigation-mobile-field .button .button-icon, .header-navigation-mobile-field .button:hover .button-icon, .header-navigation-mobile-field .button:focus .button-icon {
      height: inherit;
      width: inherit; }

@media (min-width: 680px) {
  .header-navigation-mobile {
    display: none; } }

.header-navigation-primary {
  display: none; }

@media (min-width: 680px) {
  .header-navigation-primary {
    display: block;
    position: relative;
    height: inherit; }
    .header-navigation-primary .navigation-field, .header-navigation-primary .header-field {
      display: inline-block;
      position: relative;
      z-index: 38;
      margin-top: 34px;
      height: 40px;
      min-width: 150px;
      line-height: 40px;
      border-radius: 2px; }
      .header-navigation-primary .navigation-field:not(.navigation-primary-language):hover, .header-navigation-primary .header-field:not(.navigation-primary-language):hover {
        background-color: #fafafa; }
      .header-navigation-primary .navigation-field > *, .header-navigation-primary .header-field > * {
        display: block;
        height: 100%;
        padding: 0 15px;
        font-size: 20px;
        text-align: center;
        color: #1a1a1a; }
  .navigation-primary-language {
    float: right;
    display: block;
    position: relative;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0;
      margin-top: 35px;
      margin-right: 10px; }
    .navigation-primary-language .button, .navigation-primary-language .button:hover, .navigation-primary-language .button:focus {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0; }
    .navigation-primary-language .button .button-icon {
      width: 100%;
      height: 100%;
      margin: 0;
      background-image: "";
      background-size: 100% 100%;
      background-position: center bottom;
      background-repeat: no-repeat; } }

@media (min-width: 1000px) {
  .header-navigation-primary .navigation-field, .header-navigation-primary .header-field {
    height: 55px;
    margin-top: 30px;
    line-height: 55px; }
  .header-navigation-primary .navigation-primary-language {
    margin-top: 40px;
    margin-right: 15px; } }

.header-navigation-secondary {
  display: none; }

@media (min-width: 680px) {
  .header-navigation-secondary {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    height: 30px;
    padding-left: 17px;
    padding-right: 15px;
    background-color: #1a1a1a;
    color: #ffffff;
    z-index: 70; }
    .header-navigation-secondary .navigation-field, .header-navigation-secondary .header-field {
      position: relative;
      display: inline-block;
      width: auto;
      font-size: 14px;
      font-weight: normal; }
      .header-navigation-secondary .navigation-field > *, .header-navigation-secondary .header-field > * {
        position: relative;
        font-weight: bold;
        cursor: pointer; }
  .header-navigation-secondary-root {
    display: inline-block;
    float: left;
    text-align: left; }
  .header-navigation-secondary-user {
    display: inline-block;
    float: right;
    text-align: right; }
  .navigation-secondary-searcher {
    line-height: 20px; }
    .navigation-secondary-searcher .button {
      line-height: inherit; }
      .navigation-secondary-searcher .button:focus {
        line-height: inherit; }
      .navigation-secondary-searcher .button .button-icon {
        display: inline-block;
        position: relative;
        top: 2px;
        width: 15px;
        height: 15px;
        margin-right: 3px; } }

@media (min-width: 1000px) {
  .header-navigation-secondary .navigation-secondary-searcher, .header-navigation-secondary .header-field-space.for-searcher {
    display: none; } }

img {
  display: inline-block;
  max-width: 100%;
  position: relative;
  opacity: 0.4;
  z-index: 1; }

#GROUND {
  position: relative;
  display: block; }
  #GROUND::before {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 8px;
    border-bottom: 2px solid #e8e8e8;
    background: #ffffff;
    content: '';
    z-index: 200; }

.ground {
  top: 8px;
  opacity: 0.4;
  overflow-y: scroll;
  background-color: #ffffff; }

.ground-block {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-bottom: 50px;
  width: 100%;
  min-height: 550px; }

.block-title {
  position: relative;
  z-index: 12;
  margin-top: 15px;
  padding-left: 30px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: bold; }

.block-background {
  z-index: 10;
  background-color: #ffffff; }

.block-content, .block-content-message {
  position: relative;
  padding: 10px 15px;
  color: #1a1a1a;
  font-size: 16px;
  z-index: 12; }
  .block-content .title, .block-content-message .title, .block-content .subtitle, .block-content-message .subtitle {
    padding: 10px 0;
    font-weight: bold;
    opacity: .92; }
  .block-content .title, .block-content-message .title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #eee; }
  .block-content .subtitle, .block-content-message .subtitle {
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 0;
    font-size: 15px; }
  .block-content .paragraph, .block-content-message .paragraph {
    margin-bottom: 15px;
    margin-left: 15px; }

.block-content-message {
  color: #a20000;
  font-weight: bold;
  font-size: 18px;
  z-index: 11; }
  .block-content-message.center {
    text-align: center; }

@media (min-width: 680px) {
  .ground-block {
    padding-bottom: 100px; } }

@media (min-width: 1000px) {
  #GROUND {
    margin-left: 250px; } }

@media (min-width: 1600px) {
  .ground.smaller .block-content.contact .block-content-right, .ground.smaller .contact.block-content-message .block-content-right {
    position: absolute;
    left: 415px;
    top: 30px;
    right: 30px;
    height: 500px;
    margin-top: 0; } }

.ground-navigation {
  position: relative;
  z-index: 12;
  min-height: 45px;
  margin: 0;
  padding: 10px 15px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  border-bottom: 1px solid #e8e8e8;
  line-height: 25px;
  font-size: 16px;
  cursor: default; }

.ground-navigation-text {
  display: inline-block;
  height: 25px;
  margin: auto 3px;
  line-height: 25px;
  opacity: .6; }
  .ground-navigation-text:last-child {
    opacity: .8; }
  .ground-navigation-text:hover {
    opacity: 1; }

.ground-navigation-home {
  opacity: .8; }

.ground-navigation-home-img {
  display: inline-block;
  width: 25px;
  line-height: 25px;
  background-image: url(/static/img/icons/32/dark/home.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.footer-content {
  position: relative;
  min-height: 100px;
  background-color: #f2f2f2;
  border-top: 1px solid #e8e8e8;
  font-size: 15px; }

.footer-element, .footer-cookies, .footer-social, .footer-navigation, .footer-contact, .footer-author {
  position: relative;
  padding: 0 15px; }

.footer-centered_element, .footer-social, .footer-navigation, .footer-contact {
  line-height: 40px;
  text-align: center; }

.footer-cookies {
  margin-bottom: 30px;
  line-height: 40px;
  font-weight: bold;
  border-bottom: 1px solid #d1d1d1;
  text-align: center; }

.footer-cookies-content {
  opacity: .7; }

.footer-social {
  padding-top: 10px; }

.footer-social-element, .footer-social-link {
  display: inline-block;
  opacity: .9;
  text-align: center; }

.footer-social-dot {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 50%;
  opacity: .2; }

.footer-social-link {
  opacity: .8; }
  .footer-social-link:hover {
    opacity: .9; }

.footer-social-icon {
  width: 100px;
  height: 40px;
  background-image: "";
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat; }

.footer-social-1 {
  background-image: url(/static/img/icons/64/dark/facebook.png); }

.footer-social-2 {
  background-image: url(/static/img/icons/64/dark/google-plus.png); }

.footer-social-3 {
  background-image: url(/static/img/icons/64/dark/twitter.png); }

.footer-social-4 {
  background-image: url(/static/img/icons/64/dark/instagram.png); }

.footer-social-5 {
  background-image: url(/static/img/icons/64/dark/linkedin.png); }

.footer-social-6 {
  background-image: url(/static/img/icons/64/dark/tumblr.png); }

.footer-social-7 {
  background-image: url(/static/img/icons/64/dark/youtube.png); }

.footer-navigation {
  margin-top: 15px;
  font-size: 18px; }

.footer-navigation-element, .footer-navigation-separator, .footer-navigation-link {
  display: inline-block;
  font-weight: bold;
  opacity: .8; }

.footer-navigation-separator {
  opacity: .5;
  margin: 0 5px; }

.footer-navigation-link {
  cursor: pointer; }
  .footer-navigation-link:hover {
    opacity: .9; }

.footer-contact {
  margin-top: 20px; }

.footer-contact-element {
  display: inline-block;
  margin: 0 5px;
  line-height: 20px;
  vertical-align: top; }

.footer-contact-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: .8; }
  .footer-contact-icon.img-email {
    background-image: "";
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat; }
  .footer-contact-icon.img-telephone {
    background-image: "";
    background-size: 23px;
    background-position: center;
    background-repeat: no-repeat; }
  .footer-contact-icon.img-home {
    background-image: "";
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat; }

.footer-author {
  margin-top: 30px;
  line-height: 30px;
  border-top: 1px solid #e8e8e8;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: right;
  font-size: 14px; }

.footer-author-separator, .footer-author-text, .footer-author-link {
  opacity: .7; }

.footer-author-separator {
  margin: 0 3px; }

.footer-author-link:hover {
  opacity: .9; }

.container-part .scroll {
  min-height: 80px;
  max-height: 450px;
  margin: 5px 5px;
  padding: 5px 5px;
  overflow: auto;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8; }

.block-content-numbers_pages {
  padding-top: 15px;
  text-align: center; }

.numbers_pages-one_step {
  display: inline-block; }
  .numbers_pages-one_step > button {
    min-width: 100px; }

.numbers_pages-filters {
  display: inline-block;
  width: auto; }
  .numbers_pages-filters > .auto_field {
    width: 100px;
    min-width: 100px; }

.numbers_pages-change_page {
  display: none; }
  .numbers_pages-change_page .button {
    background-color: transparent !important;
    background-image: none !important;
    border: none !important; }

@media (min-width: 900px) and (max-width: 999px), (min-width: 1150px) {
  .ground:not(.smaller) .numbers_pages-filters {
    display: none; }
  .ground:not(.smaller) .numbers_pages-change_page {
    display: inline-block; } }

@media (min-width: 1550px) {
  .ground.smaller .numbers_pages-filters {
    display: none; }
  .ground.smaller .numbers_pages-change_page {
    display: inline-block; } }

.ground-block.start .block-background {
  background-color: #f2f2f2; }

.ground-block.start .block-content, .ground-block.start .block-content-message {
  padding: 0;
    padding-bottom: 50px; }

.ground-block.start .products.tiles.recommended {
  min-height: 384px; }

.block-content-recommended_title {
  padding: 15px 50px;
    padding-bottom: 15px;
  background-color: #fcfcfc;
  border-bottom: 2px solid #e8e8e8; }

.block-content-recommended_title-content {
  line-height: 30px;
  opacity: .4;
  font-size: 25px;
  font-weight: bold;
  color: #1a1a1a; }

.footer.start .footer-content {
  background-color: #ffffff;
  border-top: 2px solid #e8e8e8; }

.footer.start .footer-cookies {
  border-bottom: 1px solid #e8e8e8; }

.panel_app-list {
  background-color: transparent;
  text-align: center;
  padding-top: 20px; }

.panel_app-tile {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  background-color: #ffffff; }

.panel_app-tile-link {
  display: block;
  width: 150px;
  text-align: center;
  opacity: .85; }
  .panel_app-tile-link:hover {
    background-color: #f5f5f5;
    border-radius: 2px;
    opacity: 1; }

.panel_app-tile-icon {
  position: relative;
  display: block;
  height: 130px; }

.panel_app-tile-icon-img {
  position: relative;
  top: 15px;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-image: "";
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }

.panel_app-tile-text {
  display: block;
  height: 30px; }

@media (min-width: 450px) {
  .panel_app-tile-link {
    width: 200px; }
  .panel_app-tile-icon {
    height: 160px; }
  .panel_app-tile-icon-img {
    width: 128px;
    height: 128px; } }

@media (min-width: 550px) {
  .panel_app-list {
    padding-top: 35px; }
  .panel_app-tile-link {
    width: 250px; } }

@media (min-width: 675px) {
  .panel_app-list {
    padding-top: 50px; } }

.ground-block.about {
  padding-top: 15px;
  padding-bottom: 0;
  min-height: 0; }
  .ground-block.about .block-content, .ground-block.about .block-content-message {
    padding-top: 0;
    padding-bottom: 0; }
  .ground-block.about .block-title {
    position: relative;
    z-index: 12;
    margin-bottom: 50px;
    padding-left: 0;
    border-bottom: 1px solid #CCC;
    text-align: center;
    opacity: 0.8; }
  .ground-block.about .block-title-box {
    display: inline-block;
    position: relative;
    top: 22px;
    background-color: #ffffff;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border: 1px solid #CCC;
      border-radius: 5px; }
  .ground-block.about .block-content-paragraph {
    position: relative;
    line-height: 30px; }
    .ground-block.about .block-content-paragraph.new:hover > .button {
      opacity: 1; }
  .ground-block.about .block-content-paragraph-actions {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 100; }
    .ground-block.about .block-content-paragraph-actions .button {
      padding-top: 2px;
      padding-bottom: 2px; }
  .ground-block.about .block-content-paragraph-image {
    max-width: 650px;
    margin: 20px auto;
      margin-bottom: 0;
    text-align: center; }
    .ground-block.about .block-content-paragraph-image img {
      height: auto;
      vertical-align: bottom; }

@media (min-width: 1000px) {
  .ground-block.about .block-content-paragraph .block-content-paragraph-actions {
    top: -20px;
    display: none; }
  .ground-block.about:hover .block-content-paragraph-actions {
    display: block; } }

@media (min-width: 1200px) {
  .ground-block.about .block-content, .ground-block.about .block-content-message {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .ground-block.about .paragraph.with_image,
  .ground-block.about .block-content-paragraph-image {
    display: inline-block;
    width: 48%;
    vertical-align: top; }
  .ground-block.about .block-content-paragraph-image {
    margin-left: 20px; } }

.ground-block.payment .cart-list {
  margin: 0; }

.ground-block.payment .form_submit {
  margin-top: 30px;
  padding-right: 10px;
  text-align: right; }

.ground-block.payment .form_submit-description {
  font-weight: bold; }

.ground-block.payment .form_submit-button {
  margin-left: 15px !important;
  min-width: 150px; }

.ground-block.payment .radio {
  font-weight: bold; }

.ground-block.payment .address_block, .ground-block.payment .mini_cart {
  height: 44px;
  padding: 10px 5px;
  border: 3px dashed #e8e8e8; }
  .ground-block.payment .address_block.is-long, .ground-block.payment .is-long.mini_cart {
    height: 295px; }
  .ground-block.payment .address_block.new, .ground-block.payment .new.mini_cart {
    height: 295px; }
    .ground-block.payment .address_block.new .address_block-image, .ground-block.payment .new.mini_cart .address_block-image {
      display: block;
      height: 220px;
      margin: 10px 0;
      opacity: .6;
      background-image: url(/static/img/icons/128/dark/add.png);
      background-size: 75px;
      background-position: center;
      background-repeat: no-repeat; }

.ground-block.payment .address_block-title {
  padding-left: 5px;
  border-bottom: 2px solid #e8e8e8;
  opacity: .9; }

.ground-block.payment .address_block-field_list {
  margin-left: 10px;
  padding: 10px 0;
  opacity: .8; }

.ground-block.payment .address_block-buttons {
  border-top: 2px solid #e8e8e8;
  padding: 5px 5px; }

@media (min-width: 680px) {
  .ground:not(.smaller) .ground-block.payment.MEDIUM .address_block, .ground:not(.smaller) .ground-block.payment.MEDIUM .mini_cart, .ground:not(.smaller) .ground-block.payment.BIG .address_block, .ground:not(.smaller) .ground-block.payment.BIG .mini_cart {
    height: 295px; }
  .ground:not(.smaller) .ground-block.payment.MEDIUM .address_block-field_list, .ground:not(.smaller) .ground-block.payment.BIG .address_block-field_list {
    width: 180px;
    margin-right: 0; }
  .ground-block.payment .form_submit-description {
    display: inline-block;
    width: 60%; }
  .ground-block.payment .form_submit-description, .ground-block.payment .form_submit-button {
    vertical-align: top; } }

@media (min-width: 1300px) {
  .ground.smaller .ground-block.payment.MEDIUM .address_block, .ground.smaller .ground-block.payment.MEDIUM .mini_cart, .ground.smaller .ground-block.payment.BIG .address_block, .ground.smaller .ground-block.payment.BIG .mini_cart {
    height: 295px; }
  .ground.smaller .ground-block.payment.MEDIUM .address_block-field_list, .ground.smaller .ground-block.payment.BIG .address_block-field_list {
    width: 180px;
    margin-right: 0; } }

.deliver_settings-row-label {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
  text-align: right; }

.deliver_settings-row-input {
  min-width: 65px;
  max-width: 65px;
  padding: 2px 4px;
  margin: 0;
    margin-left: 10px;
    margin-right: 3px;
    margin-bottom: 10px;
  line-height: 20px;
  border: 1px solid #cfcfcf;
  border-top: 1px solid #b9b9b9; }

.social_media-row-label {
  display: inline-block;
  width: 100%; }

.social_media-row-input {
  width: 100%; }

@media (min-width: 680px) {
  .social_media-row-label {
    width: 25%;
    text-align: right; }
  .social_media-row-input {
    width: 60%; } }

.block-content.contact .block-content-right, .contact.block-content-message .block-content-right {
  margin-top: 15px; }

@media (min-width: 500px) {
  .block-content.contact .block-content-right, .contact.block-content-message .block-content-right {
    height: 300px; } }

@media (min-width: 680px) {
  .ground:not(.smaller) .block-content.contact .block-content-left, .ground:not(.smaller) .contact.block-content-message .block-content-left, .ground:not(.smaller) .block-content.contact .block-content-right, .ground:not(.smaller) .contact.block-content-message .block-content-right {
    display: inline-block; }
  .ground:not(.smaller) .block-content.contact .block-content-left, .ground:not(.smaller) .contact.block-content-message .block-content-left {
    width: 47%; }
  .ground:not(.smaller) .block-content.contact .block-content-right, .ground:not(.smaller) .contact.block-content-message .block-content-right {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 47%;
    height: 300px;
    margin-top: 0; } }

@media (min-width: 1000px) {
  .ground:not(.smaller) .block-content.contact .block-content-left, .ground:not(.smaller) .contact.block-content-message .block-content-left {
    width: 400px; }
  .ground:not(.smaller) .block-content.contact .block-content-right, .ground:not(.smaller) .contact.block-content-message .block-content-right {
    width: auto;
    left: 450px; } }

@media (min-width: 1200px) {
  .ground:not(.smaller) .block-content.contact .block-content-right, .ground:not(.smaller) .contact.block-content-message .block-content-right {
    height: 500px; } }

@media (min-width: 1600px) {
  .ground.smaller .block-content.contact .block-content-right, .ground.smaller .contact.block-content-message .block-content-right {
    position: absolute;
    left: 415px;
    top: 30px;
    right: 30px;
    height: 500px;
    margin-top: 0; } }

.ground-block.SMALL .block-content, .ground-block.SMALL .block-content-message {
  width: 340px;
  margin: 30px auto; }

.ground-block.SMALL .is-fills-in-width-inside .input, .ground-block.SMALL .is-fills-in-width-inside .button {
  width: 100%; }

.ground-block.MEDIUM .block-content, .ground-block.MEDIUM .block-content-message, .ground-block.BIG .block-content, .ground-block.BIG .block-content-message {
  width: 340px;
  margin: 30px auto; }

@media (min-width: 680px) {
  .ground:not(.smaller) .ground-block.MEDIUM .block-content, .ground:not(.smaller) .ground-block.MEDIUM .block-content-message, .ground:not(.smaller) .ground-block.BIG .block-content, .ground:not(.smaller) .ground-block.BIG .block-content-message {
    width: 680px; } }

@media (min-width: 1200px) {
  .ground:not(.smaller) .ground-block.BIG .block-content, .ground:not(.smaller) .ground-block.BIG .block-content-message {
    width: auto;
    margin-left: 80px;
    margin-right: 80px; } }

@media (min-width: 1300px) {
  .ground.smaller .ground-block.MEDIUM .block-content, .ground.smaller .ground-block.MEDIUM .block-content-message, .ground.smaller .ground-block.BIG .block-content, .ground.smaller .ground-block.BIG .block-content-message {
    width: 680px; } }

@media (min-width: 1500px) {
  .ground.smaller .ground-block.BIG .block-content, .ground.smaller .ground-block.BIG .block-content-message {
    width: auto;
    margin-left: 80px;
    margin-right: 80px; } }

.tile {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 30px;
  cursor: pointer; }
  .tile > a, .tile > div {
    display: block;
    height: 100%; }
  .tile .icon {
    position: relative;
    bottom: 35px;
    float: right;
    opacity: 0; }
  .tile:hover .icon {
    opacity: 1; }

.tile-img {
  padding: 10px 15px;
  margin: 0;
    margin-bottom: 10px;
  color: #1a1a1a;
  font-size: 16px;
  background: #ffffff;
  position: relative;
  width: 100%;
  padding: 0;
    padding-top: 80%;
  overflow: hidden; }
  .tile-img > div {
    text-align: center; }
    .tile-img > div > img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle; }

.tile-title {
  font-weight: bold; }

.products.tiles > ul > .tile.new > a > .tile-img.mini_image, .products.tiles > ul > .tile.new > div:not(.tooltip-options) > .tile-img.mini_image {
  background-image: url(/static/img/icons/128/dark/add.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px dashed #d1d1d1; }

.products.tiles > ul > .tile.new > a > .tile-title, .products.tiles > ul > .tile.new > div:not(.tooltip-options) > .tile-title {
  min-height: 20px; }

.products.tiles > ul > .tile.new .tooltip-options {
  left: 50% !important;
  top: 50% !important; }

@media (min-width: 680px) {
  .products.tiles > ul > .tile.new > a > .tile-title, .products.tiles > ul > .tile.new > div > .tile-title {
    min-height: 23px; } }

@media (min-width: 1000px) {
  .products.tiles > ul > .tile.new > a > .tile-img.mini_image, .products.tiles > ul > .tile.new > div > .tile-img.mini_image {
    opacity: .8; }
  .products.tiles > ul > .tile.new:hover > a > .tile-img.mini_image, .products.tiles > ul > .tile.new:hover > div > .tile-img.mini_image {
    opacity: .9; } }

.products.tiles.recommended {
  padding-top: 15px;
  padding-bottom: 15px; }
  .products.tiles.recommended .tile {
    margin: 0 auto;
      margin-bottom: 10px;
    background-color: #ffffff;
    -moz-box-shadow: 0px 0px 1px 1px #e8e8e8;
    -webkit-box-shadow: 0px 0px 1px 1px #e8e8e8;
    box-shadow: 0px 0px 1px 1px #e8e8e8;
    border: 1px solid #e8e8e8;
      border-radius: 1px; }

@media (min-width: 680px) {
  .products.tiles.recommended .tile {
    margin-right: 10px; } }

.products.tiles {
  padding-top: 0;
  padding-bottom: 0; }

.products .tile {
  width: auto;
  max-width: 300px;
  min-height: 220px;
  margin: 0;
    margin-left: auto;
    margin-right: auto;
  border-bottom: 1px solid #e8e8e8; }

.products .tile-content {
  position: relative;
  max-width: 300px;
  margin: 0;
  padding: 0; }
  .products .tile-content .button {
    top: -100%; }

@media (min-width: 680px) {
  .products .tiles-list {
    font-size: 0;
    text-align: center; }
  .products .tile {
    display: inline-block;
    width: 285px;
    max-width: none;
    margin: 0;
    font-size: 16px;
    text-align: left; }
  .products .tile-img {
    height: 200px;
    overflow: hidden; }
  .products .tile-title {
    position: relative;
    text-align: left; } }

.ground-block.product_details {
  padding-bottom: 0 !important;
  min-height: 0; }
  .ground-block.product_details .block-content, .ground-block.product_details .block-content-message {
    position: relative;
    padding-top: 15px !important;
    padding-bottom: 0 !important; }
    .ground-block.product_details .block-content > div, .ground-block.product_details .block-content-message > div {
      position: relative;
      max-width: 1100px;
      margin: 0 auto; }

.block-content-left, .block-content-right {
  display: block;
  width: auto;
  height: auto; }

.block-content-right {
  max-width: 800px; }

.product_details-image {
  padding: 10px 15px;
  margin: 0;
    margin-bottom: 10px;
  color: #1a1a1a;
  font-size: 16px;
  background: #ffffff;
  position: relative;
  width: 100%;
  padding: 0;
    padding-top: 100%; }
  .product_details-image > div {
    text-align: center; }
    .product_details-image > div > img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle; }

.product_details-section {
  padding: 10px 15px;
  margin: 0;
    margin-bottom: 10px;
  color: #1a1a1a;
  font-size: 16px;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  margin: 0; }

.product_details-section:last-child {
  border-bottom: none; }

.subproduct_widgets .widget {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
  width: 100%;
  min-width: 280px;
  margin-bottom: 20px; }
  .subproduct_widgets .widget:hover .icon {
    display: block; }
  .subproduct_widgets .widget.widget-add {
    height: 60px;
    text-align: center; }
    .subproduct_widgets .widget.widget-add > button {
      width: 100%;
      height: 60px;
      font-size: 18px;
      border: 3px dashed #d1d1d1;
      opacity: 0.8; }
  .subproduct_widgets .widget.widget-add:hover > button {
    opacity: 1; }

.subproduct_widgets .widget-title {
  padding-left: 5px;
  margin-bottom: 5px;
  opacity: .4;
  font-weight: bold; }

.subproduct_widgets .icon {
  display: none;
  position: absolute;
  top: 0;
  right: 15px; }

@media (min-width: 400px) {
  .ground:not(.smaller) .product_details .product_details-image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0; } }

@media (min-width: 750px) {
  .ground .product_details .product_details-image {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 0; }
  .ground:not(.smaller) .product_details .block-content-left {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 300px; }
  .ground:not(.smaller) .product_details .block-content-right {
    margin-left: 315px;
    border-left: 1px solid #e8e8e8; }
  .ground:not(.smaller) .product_details .product_details-image {
    width: auto;
    height: auto;
    padding-top: 100%; } }

.address_block, .mini_cart {
  position: relative;
  display: block;
  height: 100px;
  margin-top: 15px;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms; }
  .address_block.is-long, .is-long.mini_cart {
    height: 360px; }
    .address_block.is-long .address_block-shell, .is-long.mini_cart .address_block-shell, .address_block.is-long .mini_cart-shell, .is-long.mini_cart .mini_cart-shell {
      height: 0; }

.address_block-shell, .mini_cart-shell {
  top: auto;
  height: 50px;
  background-image: linear-gradient(transparent, white);
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms; }

.address_block-title {
  margin-top: 0;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: left;
  color: #1a1a1a;
  opacity: .6; }

.address_block-field_list {
  display: block;
  margin-right: 5px; }
  .address_block-field_list > * {
    width: 100%; }

@media (min-width: 680px) {
  .ground:not(.smaller) .ground-block.MEDIUM .address_block, .ground:not(.smaller) .ground-block.MEDIUM .mini_cart, .ground:not(.smaller) .ground-block.BIG .address_block, .ground:not(.smaller) .ground-block.BIG .mini_cart {
    display: inline-block;
    width: 207px;
    height: 360px;
    margin-right: 10px;
    cursor: auto; }
    .ground:not(.smaller) .ground-block.MEDIUM .address_block:nth-child(3n + 4), .ground:not(.smaller) .ground-block.MEDIUM .mini_cart:nth-child(3n + 4), .ground:not(.smaller) .ground-block.BIG .address_block:nth-child(3n + 4), .ground:not(.smaller) .ground-block.BIG .mini_cart:nth-child(3n + 4) {
      margin-right: 0; }
  .ground:not(.smaller) .ground-block.MEDIUM .address_block-shell, .ground:not(.smaller) .ground-block.MEDIUM .mini_cart-shell, .ground:not(.smaller) .ground-block.BIG .address_block-shell, .ground:not(.smaller) .ground-block.BIG .mini_cart-shell {
    height: 0; }
  .ground:not(.smaller) .ground-block.MEDIUM .address_block-title, .ground:not(.smaller) .ground-block.BIG .address_block-title {
    cursor: auto; }
  .ground:not(.smaller) .ground-block.MEDIUM .address_block-field_list, .ground:not(.smaller) .ground-block.BIG .address_block-field_list {
    width: 200px;
    margin-right: 0; } }

@media (min-width: 1200px) {
  .ground:not(.smaller) .ground-block.MEDIUM .address_block:nth-child(3n + 4), .ground:not(.smaller) .ground-block.MEDIUM .mini_cart:nth-child(3n + 4), .ground:not(.smaller) .ground-block.BIG .address_block:nth-child(3n + 4), .ground:not(.smaller) .ground-block.BIG .mini_cart:nth-child(3n + 4) {
    margin-right: 10px; } }

@media (min-width: 1300px) {
  .ground.smaller .ground-block.MEDIUM .address_block, .ground.smaller .ground-block.MEDIUM .mini_cart, .ground.smaller .ground-block.BIG .address_block, .ground.smaller .ground-block.BIG .mini_cart {
    display: inline-block;
    width: 207px;
    height: 360px;
    margin-right: 10px;
    cursor: auto; }
    .ground.smaller .ground-block.MEDIUM .address_block:nth-child(3n + 4), .ground.smaller .ground-block.MEDIUM .mini_cart:nth-child(3n + 4), .ground.smaller .ground-block.BIG .address_block:nth-child(3n + 4), .ground.smaller .ground-block.BIG .mini_cart:nth-child(3n + 4) {
      margin-right: 0; }
  .ground.smaller .ground-block.MEDIUM .address_block-shell, .ground.smaller .ground-block.MEDIUM .mini_cart-shell, .ground.smaller .ground-block.BIG .address_block-shell, .ground.smaller .ground-block.BIG .mini_cart-shell {
    height: 0; }
  .ground.smaller .ground-block.MEDIUM .address_block-title, .ground.smaller .ground-block.BIG .address_block-title {
    cursor: auto; }
  .ground.smaller .ground-block.MEDIUM .address_block-field_list, .ground.smaller .ground-block.BIG .address_block-field_list {
    width: 200px;
    margin-right: 0; } }

@media (min-width: 1500px) {
  .ground.smaller .ground-block.MEDIUM .address_block:nth-child(3n + 4), .ground.smaller .ground-block.MEDIUM .mini_cart:nth-child(3n + 4), .ground.smaller .ground-block.BIG .address_block:nth-child(3n + 4), .ground.smaller .ground-block.BIG .mini_cart:nth-child(3n + 4) {
    margin-right: 10px; } }

#CART {
  top: 60px;
  right: -400px;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #1a1a1a;
  border-left: none;
  font-size: 16px;
  z-index: 59; }

.cart {
  margin-right: 15px; }

.cart-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer; }
  .cart-close .button-text {
    position: relative;
    left: -2px;
    top: -3px;
    color: #999;
    font-size: 16px; }
  .cart-close:hover .button-text {
    color: #1a1a1a; }

.cart-title {
  display: block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8; }

.cart-list {
  display: block;
  min-height: 70px;
  margin: 30px 15px; }

.cart-list-product {
  margin-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden; }

.cart-list-product-name {
  width: 180px;
  font-size: 15px;
  opacity: .8; }
  .cart-list-product-name:hover {
    opacity: .95; }

.cart-list-product-actions {
  min-width: 120px;
  float: right;
  width: 150px;
  vertical-align: top;
  font-size: 14px;
  text-align: right;
  color: #1a1a1a; }

.cart-list-product-number {
  min-width: 30px;
  width: 30px;
  padding: 2px 2px;
  margin: 0;
  line-height: 20px;
  border: 1px solid #cfcfcf;
    border-top: 1px solid #b9b9b9; }

.cart-list-product-remove, .cart-list-product-price {
  opacity: .7; }

.cart-list-empty {
  display: block !important;
  margin-top: 70px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  opacity: .4;
  color: #1a1a1a; }

.cart-list-button {
  margin-top: 30px;
  width: 49%; }
  .cart-list-button .button {
    display: block;
    width: 98%; }

.cart-list-total_price {
  padding-top: 10px;
  font-weight: bold;
  border-top: 1px solid #e8e8e8; }

.cart-list-total_price-title, .cart-list-total_price-price {
  display: inline-block;
  width: 49%; }

.cart-list-total_price-price {
  text-align: right; }

@media (min-width: 500px) {
  .cart-list-name {
    width: 270px; } }

@media (min-width: 600px) {
  .cart-list-name {
    width: 370px; } }

@media (min-width: 680px) {
  #CART {
    top: 80px; }
  .cart-list-name {
    width: 470px; } }

@media (min-width: 750px) {
  #CART {
    border-left: 1px solid #e8e8e8; }
  #CART, .cart {
    width: 401px;
    margin-right: 0; }
  .cart-list {
    margin: 30px 20px; }
    .cart-list .cart-list-name {
      width: 210px;
      opacity: .95; } }

@media (min-width: 1000px) {
  #CART {
    top: 90px; } }

.mini_cart {
  width: 300px;
  height: 50px;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
    border-radius: 3px; }
  .mini_cart:nth-child(3n + 4) {
    margin-right: auto; }
  .mini_cart.is-long {
    height: 280px;
    overflow: visible; }
    .mini_cart.is-long .mini_cart-shell {
      height: 0; }

.mini_cart-title {
  position: relative;
  padding: 10px 5px;
  font-weight: bold; }

.mini_cart-title-date {
  color: #1a1a1a; }

.mini_cart-title-name {
  color: #a20000; }

.mini_cart-icon {
  top: 10px;
  right: 5px; }

.mini_cart-shell {
  background-image: none; }

.mini_cart-field_list {
  display: block;
  height: 150px;
  margin-bottom: 5px;
  padding: 5px 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8; }

.mini_cart-product {
  font-size: 14px; }

.mini_cart-additional_info {
  font-size: 14px;
  font-weight: bold;
  color: #1a1a1a;
  opacity: .8; }

@media (min-width: 680px) {
  .ground:not(.smaller) .ground-block.BIG .mini_cart {
    display: inline-block;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: auto; }
    .ground:not(.smaller) .ground-block.BIG .mini_cart:nth-child(2n + 3) {
      margin-right: 10px; }
  .ground:not(.smaller) .ground-block.BIG .mini_cart-shell {
    height: 0; }
  .ground:not(.smaller) .ground-block.BIG .mini_cart-title {
    cursor: auto; } }

@media (min-width: 1300px) {
  .ground.smaller .ground-block.BIG .mini_cart {
    display: inline-block;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: auto; }
    .ground.smaller .ground-block.BIG .mini_cart:nth-child(2n + 3) {
      margin-right: 10px; }
  .ground.smaller .ground-block.BIG .mini_cart-shell {
    height: 0; }
  .ground.smaller .ground-block.BIG .mini_cart-title {
    cursor: auto; } }

#NAVIGATION {
  left: 0;
  top: -100%;
  right: 0;
  height: 100%;
  background-color: #1a1a1a;
  z-index: 80; }
  #NAVIGATION .part-hide {
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    -moz-box-shadow: 0px -5px 5px 0px rgba(85, 85, 85, 0.4);
    -webkit-box-shadow: 0px -5px 5px 0px rgba(85, 85, 85, 0.4);
    box-shadow: 0px -5px 5px 0px rgba(85, 85, 85, 0.4);
    opacity: .8; }
  #NAVIGATION .part-hide-text {
    line-height: 50px;
    color: #ffffff; }

.navigation {
  margin-bottom: 100px;
  color: #ffffff;
  background-color: inherit; }

.navigation-list li:not(.navigation-field) {
  display: none; }

.navigation-list .navigation-field {
  position: relative;
  height: 45px;
  border-bottom: solid #666 1px;
  background-color: #1a1a1a; }
  .navigation-list .navigation-field > * {
    padding: 0 15px;
    line-height: 45px;
    cursor: pointer; }

.navigation-list .navigation-secondary-cart {
  font-weight: bold; }

@media (min-width: 680px) {
  #NAVIGATION {
    top: -100% !important; } }

#DIALOG {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: auto; }

.dialog {
  display: block;
  position: relative;
  width: 95%;
  margin: 100px auto;
    margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
    border-radius: 3px; }

.dialog-header {
  padding: 10px 12px;
  line-height: 19px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  color: #1d2129;
  font-weight: bold; }

.dialog-content {
  padding: 12px;
  font-size: 14px;
  line-height: 18px; }
  .dialog-content > .dialog-content-part:last-child {
    text-align: right; }

.dialog-content-part > div {
  padding-bottom: 5px; }

.dialog-content-part > input {
  width: 95%;
  box-sizing: border-box; }

@media (min-width: 500px) {
  .dialog {
    width: 500px;
    margin-top: 200px; }
  .dialog-content-part > input {
    width: 468px; } }

#SEARCHER {
  top: 0;
  left: -250px;
  bottom: 0;
  z-index: 75;
  min-width: 250px;
  width: 250px;
  background-color: #ffffff;
  color: #1a1a1a; }
  #SEARCHER .part-hide {
    left: 100%;
    top: 0;
    bottom: 0;
    width: 1000px; }
  #SEARCHER .part-hide-shadow {
    left: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    background-image: -webkit-linear-gradient(right, transparent, rgba(100, 100, 100, 0.1));
    background-image: -moz-linear-gradient(right, transparent, rgba(100, 100, 100, 0.1));
    background-image: -ms-linear-gradient(right, transparent, rgba(100, 100, 100, 0.1));
    background-image: -o-linear-gradient(right, transparent, rgba(100, 100, 100, 0.1));
    background-image: linear-gradient(right, transparent, rgba(100, 100, 100, 0.1)); }

.searcher {
  width: 250px;
  min-height: 100%;
  padding-bottom: 70px;
  border-right: 2px solid #e8e8e8; }
  .searcher .searcher-field {
    display: block;
    width: 220px;
    height: 40px;
    margin: 5px 15px;
    padding: 0;
    background-color: transparent;
    color: inherit;
    border: none; }
    .searcher .searcher-field:focus {
      box-shadow: none; }
    .searcher .searcher-field option {
      background-color: #ffffff;
      color: #1a1a1a; }

.searcher-clear {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-color: #ffffff;
  border-top: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center; }
  .searcher-clear .button-text {
    line-height: 50px;
    opacity: .7; }
  .searcher-clear:hover .button-text {
    opacity: .9; }

.searcher-phrase {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8; }

.searcher-phrase-field {
  height: 40px;
  margin-left: 10px;
  padding: 3px 0;
    padding-left: 5px;
  vertical-align: top;
  box-shadow: none !important;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold; }

.searcher-header {
  position: relative;
  z-index: 10;
  display: block;
  width: 253px;
  height: 30px;
  background-color: #1a1a1a;
  opacity: 1 !important; }

.searcher-filters {
  display: block;
  width: 100%; }

.searcher-filters-title {
  display: block;
  height: 40px;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  opacity: .9;
  border-top: 1px solid #e8e8e8; }

.searcher-filters-content {
  display: block;
  min-height: 40px;
  padding: 10px 15px;
    padding-top: 3px;
  background-color: transparent; }

.searcher-filters-remove {
  float: right;
  opacity: .6; }
  .searcher-filters-remove:hover {
    opacity: .8; }

@media (min-width: 1000px) {
  #SEARCHER {
    left: 0 !important;
    z-index: 60; } }

.searcher-logo {
  opacity: 1 !important;
  display: block;
  height: 100px;
  text-align: center; }

.searcher-logo-link {
  position: relative;
  top: 30px;
  display: inline-block; }

.searcher-logo-image {
  width: 200px;
  height: auto; }

.searcher-logo_text {
  opacity: 1 !important;
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

@media (min-width: 1000px) {
  .searcher-logo {
    height: 130px; }
  .searcher-logo-link {
    top: 45px; } }

.searcher-filters {
  display: block;
  width: 100%; }

.searcher-filters-title {
  display: block;
  height: 40px;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  opacity: .9;
  border-top: 1px solid #e8e8e8; }

.searcher-filters-content {
  display: block;
  min-height: 40px;
  padding: 10px 15px;
    padding-top: 3px;
  background-color: transparent; }

.searcher-filters-remove {
  float: right;
  opacity: .6; }
  .searcher-filters-remove:hover {
    opacity: .8; }

/*# sourceMappingURL=app.css.map*/