{% load tags %}

<div class="dialog-header">
	{{ title }}
</div>


<div class="dialog-content">

	<!--data-type="{{ form_name }}" data-test="yes"-->
	<form class="dialog_form" method="post" data-name="{{ form_name }}">

		{{ form.non_field_errors }}

		<div class="dialog-content-part">
			<!--fields of form-->
			{% for field in form %}

				{% include "form/html/manage_field.html" %}

			{% endfor %}

			<input type="hidden" name="accept_reload" value="{{ accept.reload }}">
			<input type="hidden" name="accept_redirect" value="{{ accept.redirect }}">
			<input type="hidden" name="accept_event" value="{{ accept.event }}">

		</div><!-- dialog-content-part -->
	</form>

	<div class="dialog-content-part">
		<!--buttons-->

		<button class="button dialog_button"
		        type="button"
		        data-type="alert"
		        data-name="root_address"
		        data-value="{{ payment.pk }}">
			Cofnij
		</button>

		<button class="button event_button"
		        type="button"
		        data-name="button_close_dialog"
		        data-event="part.close_dialog">
			Zamknij
		</button>

		<button class="button dialog_send event_button"
		        type="button"
		        data-name="{{ accept.name }}"
		        data-reload="{{ accept.reload }}"
		        data-redirect="{{ accept.redirect }}"
		        data-event="{{ accept.event }}">
			Zapisz
		</button>

	</div><!-- dialog-content-part -->


</div><!-- dialog-content -->