
//--------------------------------------
//         Mobile navigation
//--------------------------------------

$menu-navigation-mobile-field: $menu--height_mobile - 22px

.menu-navigation-mobile
  display: block
  position: relative
  height: inherit
  text-align: center


.menu-navigation-mobile-field
  display: inline-block
  z-index: 38

  width: $menu-navigation-mobile-field
  height: $menu-navigation-mobile-field

  margin:
    top: 15px
    left: 15px
    right: 15px

  .button
    &, &:hover, &:focus
      display: block
      width: inherit
      height: inherit

      padding: 0
      margin: 0

      line-height: 100%

      .button-icon
        height: inherit
        width: inherit


  &.is-has-notifications
    position: relative

    &::after
      content: ''

      position: absolute
      top: -2px
      right: -5px

      display: block
      box-sizing: border-box
      width: 14px
      height: 14px

      background-color: #F44336
      border-radius: 50%



////////////////////////////////////////

@media (min-width: $G-SIZE-2)

  .menu-navigation-mobile
    display: none