<script>
  window.APP.DATA = {
    title : 'Your addresses',
    description : ''
  };
</script>


<div class="ground-block block-1 BIG">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        <div class="title"> Edit addresses </div>

        {% if go_back != '/' %}
            <div class="form-accept">
                <div>Please select your address of below list <wbr>for shipment and invoice.</div>
                <div data-redirect="{{ go_back }}" data-name="go_back" class="button submit event_button">Go back</div>
            </div>
        {% endif %}

        {% for id_address, edit_form_address in edit_forms_address.items %}

            <div class="address_block change_length">
                <form method="post" action="" data-name="{{ form_name_edit }}_{{ id_address }}" data-type="user_address" data-test="yes">

                    <div class="address_block-shell"></div>

                    <div class="address_block-title change_length-button">
						Address {{ id_address }}
					</div>

					<div class="address_block-field_list">
						{% for address in edit_form_address %}

							{{ address }}
							{{ address.errors }}

						{% endfor %}
					</div>

                    <div class="address_block-buttons short">
                        <button class="button"
								disabled
								type="submit">
							Update
						</button>

                        <button class="button dialog_button"
								type="button"
                                data-type="confirm"
                                data-name="delete_address"
                                data-dialog-name="delete_address_{{ id_address }}"
                                data-dialog-action="delete"
                                data-dialog-reload="ground"
                                data-dialog-value="{{ id_address }}">
                            Delete
                        </button>
                    </div>

                </form>
            </div><!-- form_block -->

        {% endfor %}


        <div class="address_block change_length">
            <form method="post" action="" data-name="{{ form_name_new }}" data-type="user_address" data-test="yes">

                <div class="address_block-shell"></div>

                <div class="address_block-title change_length-button">
					Add new address
				</div>

				<div class="address_block-field_list">
					{% for address in new_form_address %}

						{{ address }}
						{{ address.errors }}

					{% endfor %}
				</div>

                <div class="address_block-buttons is-short">
					<button class="button"
							disabled
							type="submit">
						Add address
					</button>
				</div>

            </form>
        </div><!-- form_block -->

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}