<script>
  window.APP.DATA = {
    title : 'Account details',
    description : 'Description'
  };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        <div class="title"> User details: </div>



        <div class="edit_field">

            <div class="edit_field-label"> Email: </div>

            <div class="edit_field-content">
                <div class="edit_field-text"> {{ user.email }} </div>

                <button class="button is-icon is-right dialog_button"
                        type="button"
                        data-type="prompt"
                        data-name="email">
                    <span class="button-icon img-edit"> &nbsp; </span>
                </button>
            </div>

        </div><!-- edit_field -->



        <div class="edit_field">

            <div class="edit_field-label"> Username: </div>

            <div class="edit_field-content">
                <div class="edit_field-text"> {{ user.username }} </div>

                <button class="button is-icon is-right dialog_button"
                        type="button"
                        data-type="prompt"
                        data-name="username">
                    <span class="button-icon img-edit"> &nbsp; </span>
                </button>
            </div>

        </div><!-- edit_field -->



        <div class="edit_field">

            <div class="edit_field-label"> Password: </div>

            <div class="edit_field-content">
                <div class="edit_field-text"> ******** </div>

                <button class="button is-icon is-right dialog_button"
                        type="button"
                        data-type="prompt"
                        data-name="password">
                    <span class="button-icon img-edit"> &nbsp; </span>
                </button>
            </div>

        </div><!-- edit_field -->

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
