<script>
  APP.DATA = {
    title : 'Your shopping',
    description : ''
  };
</script>


<div class="ground-block block-1 BIG users_payments">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        <div class="title">My shopping</div>


        <form class="users_payments-filters is-center-inside auto_form" action="" data-origin="filter" data-reload="ground" data-delay="100">

            <input class="input auto_field"
				   type="date"
				   name="date_from"
				   data-name="date_from"
				   value="{{ date_from }}" />

            <input class="input auto_field"
				   type="date"
				   name="date_to"
				   data-name="date_to"
				   value="{{ date_to }}"/>

        </form>

        {% include "part/cart/html/my_shopping.html" %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
