<script>
  APP.DATA = {
    title : 'Dane firmy',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

            <div class="title"> Edytuj swoje dane </div>

                {% for field in form %}

                    {% include "form/html/manage_field.html" %}

                {% endfor %}

            <div class="form_buttons short">
                <button class="button is-important" type="submit" disabled> Zapisz </button>
                <button class="button event_button is-important"
                        type="button"
                        id="button_refresh"
                        data-name="button_refresh"
                        data-event="reload_website">
                    Pokaż zmiany
                </button>
            </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}