<script>
  APP.DATA = {
    title : 'Dane firmy',
    description : ''
  };
</script>


<div class="ground-block block-1 DOUBLE_SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="aligner">

        <div class="block-content is-fills-in-width-inside">

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Edytuj dane adresowe firmy </div>

                {% for field in form %}

                    {% include "form/html/manage_field.html" %}

                {% endfor %}

                <div class="form_buttons short">
                    <button class="button is-important" type="submit" disabled> Zapisz </button>
                    <button class="button event_button is-important"
                            type="button"
                            id="button_refresh_1"
                            data-name="button_refresh"
                            data-event="reload_website">
                        Pokaż zmiany
                    </button>
                </div>

            </form>

        </div><!-- block-content -->

        <div class="block-content is-fills-in-width-inside">

            <form method="post" action="" data-name="{{ additional_form_name }}" data-type="{{ additional_form_name }}" data-test="yes">

                <div class="title"> Edytuj dane adresowe sklepu </div>

                {% if not display_shop_address %}

                    <div class="form_buttons short">
                        <button class="button post_button is-important"
                                type="button"
                                data-name="show_shop_address"
                                data-action="display_shop_address"
                                data-value="true"
                                data-reload="ground">
                            Pokaż adres sklepu
                        </button>
                    </div>

                {% else %}

                    <div class="form_buttons short">
                        <button class="button post_button is-important"
                                type="button"
                                data-name="show_shop_address"
                                data-action="display_shop_address"
                                data-value="false"
                                data-reload="ground">
                            Ukryj adres sklepu
                        </button>
                    </div>

                    {% for field in additional_form %}

                        {% include "form/html/manage_field.html" %}

                    {% endfor %}

                    <div class="form_buttons short">
                        <button class="button is-important" type="submit" disabled> Zapisz </button>
                        <button class="button event_button is-important"
                                type="button"
                                id="button_refresh_2"
                                data-name="button_refresh"
                                data-event="reload_website">
                            Pokaż zmiany
                        </button>
                    </div>

                {% endif %}

            </form>

        </div><!-- block-content -->

</div><!-- ground-block -->

{% include "PL/footer/standard.html" %}