{% load tags %}

<script>
  APP.DATA = {
    title : 'Ceny dostawy',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL deliver_settings">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-right-inside">

        <form class="auto_form" data-name="delivery_settings">

            <div class="title">Ceny dostawy</div>

	        <div>
		        <label for="id_delivery_price" class="is-block_inline is-width-50 is-right-inside">
			        Cena dostawy:
		        </label>
		        <input class="input"
		               name="delivery_price"
		               id="id_delivery_price"
		               type="number"
		               step="0.01"
		               value="{{ price }}">
	        </div>

	        <div>
		        <label for="id_cash_on_delivery" class="is-block_inline is-width-50 is-right-inside">
			        Cena za pobraniem:
		        </label>
		        <input class="input"
		               name="cash_on_delivery"
		               id="id_cash_on_delivery"
		               type="number"
		               step="0.01"
		               value="{{ price_postage }}">
	        </div>

	        <div class="is-center-inside">
		        <button class="button is-important is-width-20">
			        Zapisz
		        </button>
	        </div>


        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "PL/footer/standard.html" %}