{% load tags %}

<script>
  APP.DATA = {
    title : 'Ceny dostawy',
    description : ''
  };
</script>


<div class="ground-block block-1 SMALL deliver_settings">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content is-right-inside">

        <form class="auto_form" data-name="delivery_settings">

            <div class="title">Ceny dostawy</div>

            <div>
	            <label for="id_price"> Standardowa cena: </label>
	            <input class="input"
	                   name="price"
	                   id="id_price"
	                   type="number"
	                   step="0.01"
	                   value="{{ price }}">
            </div>

	        <div>
	            <label for="id_price_postage"> Cena za pobraniem: </label>
	            <input class="input"
	                   name="price_postage"
	                   id="id_price_postage"
	                   type="number"
	                   step="0.01"
	                   value="{{ price_postage }}">
            </div>

	        <div>
		        <button class="button">
			        Zapisz
		        </button>
	        </div>

        </form>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}