{% load tags %}

<script>
	APP.DATA = {
		title : 'Ustawienia płatności',
		description : ''
	};
</script>


<div class="ground-block block-1 SMALL deliver_settings">

	<div class="block-background fill-abs"></div>
	{% include "block/ground/html/navigation.html" %}

	<div class="block-content">

		<form class="auto_form" data-name="payment_settings">

			<div class="title">Ustawienia płatności</div>

			<div> Wybierz jakie formy płatności mają być dostępne na stronie </div>

			<div class="selecter checkbox">

				{% if payment_method.0.is_active %}
				{% var 'checked_status_0' 'checked' %}
				{% endif %}

				<input name="paypal" id="id_paypal" class="input" type="checkbox" value="true" {{ checked_status_0 }}>
				<label for="id_paypal" class="selecter-field"></label>
				<label for="id_paypal" class="selecter-text">PayPal</label>
			</div>

			<div class="selecter checkbox">

				{% if payment_method.1.is_active %}
					{% var 'checked_status_1' 'checked' %}
				{% endif %}

				<input name="dotpay" id="id_dotpay" class="input" type="checkbox" value="true" {{ checked_status_1 }}>
				<label for="id_dotpay" class="selecter-field"></label>
				<label for="id_dotpay" class="selecter-text">Dotpay</label>
			</div>

			<div class="selecter checkbox">

				{% if payment_method.2.is_active %}
					{% var 'checked_status_2' 'checked' %}
				{% endif %}

				<input name="delayed_transfer" id="id_delayed_transfer" class="input" type="checkbox" value="true" {{ checked_status_2 }}>
				<label for="id_delayed_transfer" class="selecter-field"></label>
				<label for="id_delayed_transfer" class="selecter-text">Przelew odroczony</label>
			</div>

			<div class="is-right-inside">
				<button class="button is-important is-width-30">
					Save
				</button>
			</div>

		</form>

	</div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}