<script>
    window.APP.DATA = {
        title : '{{ title }}',
        description : 'This page is about us. ;)'
    };
</script>

<div class="ground-block block-1">

    <div class="block-background fill-abs"></div>

    <div class="block-content">

        <div class="block-content-message">
            {% if title == '403' %}
                Sorry, the page is inactive or protected.
            {% elif title == '404' %}
                Sorry, we couldn't find that page.
            {% elif title == '500' %}
                Sorry... It's not you. It's us. <br>
                Internal Server Error
            {% endif %}
        </div>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "part/ground/html/footer.html" %}
