
$navigation--height: 100%
$navigation-field--height: 45px

$navigation--color: $G-COLOR-4
$navigation--background-color: $G-COLOR-0


//--------------------------------------
//       STYLE PRZESUWANEGO MENU
//--------------------------------------

#NAVIGATION
  left: 0
  top: -$navigation--height
  right: 0

  height: $navigation--height
  background-color: $navigation--background-color

  z-index: 80

  .part-hide
    bottom: 0
    left: 0
    right: 0
    height: 50px

    background-color: inherit
    text-align: center
    cursor: pointer
    +box-shadow(0px -5px 5px 0px rgba(85,85,85,0.4))

    opacity: .8


  .part-hide-text
    line-height: 50px
    color: $G-COLOR-4


.navigation
  margin-bottom: 100px

  color: $navigation--color
  background-color: inherit


.navigation-list

  li:not(.navigation-field)
    display: none

  .navigation-field
    position: relative
    height: $navigation-field--height

    border-bottom: solid #666 1px
    background-color: $navigation--background-color

    >*
      padding: 0 15px
      line-height: $navigation-field--height

      cursor: pointer


  .navigation-secondary-cart
    font-weight: bold


//--------------------------------------
//            EKRAN KOMPUTERA
//--------------------------------------

@media (min-width: $G-SIZE-2)
  #NAVIGATION
    top: -$navigation--height !important
