{% load tags %}

<script>
	APP.DATA = {
		title : 'Payment',
		description : '',
	};

	APP.throw_event(EVENTS.part.close_cart);
</script>


<div class="ground-block block-1 MEDIUM payment">

	<div class="block-background fill-abs"></div>
	{% include "block/ground/html/navigation.html" %}

	{% include "block/ground/html/go_back.html" with href='/payment/' %}


	<div class="block-content">

		<div class="title">Wybierz metodę dostawy</div>

		<form method="post" data-name="delivery">

			<div class="cart-list-button">
				<label for="id_courier" class="payment-button button is-center-inside">
					Kurier
				</label>
				<input id="id_courier" type="checkbox" class="is-hidden">
			</div>

			<div class="cart-list-button">
				<label for="id_cash_on_delivery" class="payment-button button is-center-inside">
					Kurier - Wysyłka za pobraniem
				</label>
				<input id="id_cash_on_delivery" type="checkbox" class="is-hidden">
			</div>

			<div class="cart-list-button is-center-inside">
				<label for="id_personal_receipt" class="payment-button button">
					Personal receipt
				</label>
				<input id="id_personal_receipt" type="checkbox" class="is-hidden">
			</div>


			<div>
				{{ delivery_price }}
				{{ cash_on_delivery }}
			</div>

		</form>


	</div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}