<script>
    APP.DATA = {
        title : 'User Agreement',
        description : ''
    };
</script>


<div class="ground-block block-1 MEDIUM">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

		<h1 class="title">Privacy Policy</h1>
		<h2 class="subtitle">I Introduction to Privacy Policy</h2>
		<p class="paragraph">
			This notice describes our privacy policy. By visiting https://medifiller.com/, you are accepting the practices described in this Privacy Notice.
		</p>
		<h2 class="subtitle">1. Company policy and responsibility</h2>
		<p class="paragraph">
			Filler World's company policy is to provide state of the art and effective Aesthetic, Cosmetic and Orthopedic products and services to the customers at a reasonable cost. As a responsible company providing the cosmetic services, we understand the need for keeping customer information as highly privileged. We will safeguard your personal and health information passed on to us with utmost care. The privacy policy stated here elaborates the procedure and processes we follow to achieve this confidentiality of your information.
		</p>
		<h2 class="subtitle">2. Customer responsibility</h2>
		<p class="paragraph">
			The customer is responsible for providing correct and only adequate information. Whenever personal information is given, the customer has to ensure that the information passed on is utilized for the stated purpose only and kept in confidence.
		</p>
		<h2 class="subtitle">3. Definition of terms</h2>
		<p class="paragraph">
			In the privacy policy the terms "we", "us", "company" and "our" refer to Filler World and / or their business partners and associates. The terms "you", "customer" and "your" refer to the customers of Filler World and all the website visitors who have the intention of having a business relationship with Filler World.
		</p>
		<h2 class="subtitle">
			4. Customer consent
		</h2>
		<p class="paragraph">
			When the customer passes on personal information to us, it implies that the customer has given his consent to us in storing and utilizing the information to the intended purpose, as stated in this privacy policy.
		</p>
		<h2 class="subtitle">
			5. Right to modify the privacy policy
		</h2>
		<p class="paragraph">
			We reserve the rights to modify and alter the privacy policy as suited at any time. Such modifications will be posted on https://medifiller.com/. The changes thus notified will become effective 30 calendar days after the notification. If any of the changes thus proposed is not agreeable to the customer they have the right to contact us and take control of the information already provided, before such policies become effective.
		</p>
		<h2 class="subtitle">6. Child information</h2>
		<p class="paragraph">
			As general policy, we do not collect any information from children below 13 years. However such information can be passed on to us for specific purposes with the parents or guardian consent.
		</p>
		<h2 class="subtitle">7. Information collection process</h2>
		<p class="paragraph">
			We may require collecting basic personal information such as your name, postal address, Zip code, age, telephone number, mobile number, email address. We collect this personal information directly from you and also take your consent for the use of such information.
		</p>
		<h2 class="subtitle">
			II Scope and application of Privacy Policy
		</h2>
		<p class="paragraph">
			1. Personal Information Protection and Electronic Document Act provides the guidelines on which the https://medifiller.com/ privacy policy is framed and formulated. <br>
			2. This privacy policy is applicable to all the data and information collected from the customers and the use and disclosure of such information by the company <br>
			3. The privacy policy is applicable to the handling and controlling of the data and information in written, electronic or any other form.
		</p>
		<h2 class="subtitle">III Utilization and sharing of information</h2>
		<p class="paragraph">
			1. Information from us - We provide you with information through email on many topics of interest in medical science related areas. Such information may include newsletters, general health information and specific details sought by you. We provide the information only on your consent. If at any point of time you wish to unsubscribe from getting these information from our website you can send us an email
		</p>
		<p class="paragraph">
			2. Information use - Use of information provided by customer the information gathered from the customer is utilized for the purpose of providing the medical products and services which is our core business activity. We may use some of the information collected for the purpose of improving our operations and increasing the effectiveness of the treatment methods. The derived information generated from the individual's data may be copied, printed, transmitted and distributed by us without compromising on the personal information confidentiality, subject to the applicable laws.
		</p>
		<p class="paragraph">
			3. Data Security - Adequate precautions will be taken for the security of the information collected from the customers in terms of the storage, retrieval and utilization. No unauthorized persons will be allowed to access the personal information. We do not provide any part of the personal information to any third party without your consent.
		</p>
		<p class="paragraph">
			4. Third party services - In the future at any point of time, we may take the services of a suitable third party after careful evaluation, for the collection, storage and usage of existing and new data. All the provisions of the privacy policy will be made applicable in such situations.
		</p>
		<p class="paragraph">
			5. Surveys - The company may conduct surveys at times through its website. The participation in these surveys is optional. The personal information collected in these surveys will be used to understand the customer preferences and provide effective services to fulfill their requirements.
		</p>
		<h2 class="subtitle">IV Privacy policy implementation</h2>
		<p class="paragraph">
			The privacy policy formulated for protecting the interest of the customers will be implemented by the means presented below:
		</p>
		<p class="paragraph">
			1. Responsibility and accountability - We are committed for the personal information in our possession and will employ suitable executives with accountability and responsibility to safeguard the data.
		</p>
		<p class="paragraph">
			2. Purpose and information collection - The company will establish the purpose for which the information is gathered before resorting to the collection. This purpose will be made known to the customers. The information collection will be limited to the identified purpose and will be done directly from the customers.
		</p>
		<p class="paragraph">
			3. Customer consent - The collection of data, its use, sharing and disclosure will be done by the company only with the full knowledge and consent of the customer.
		</p>
		<p class="paragraph">
			4. Information usage - Personal information will not be used for any other purpose except for the use which has been made known to the customer. No information will be disclosed to any third party without the consent of the customer or at the request of law enforcing authority.
		</p>
		<p class="paragraph">
			5. Information storage and safeguard - The information collected from customer will be maintained up-to-date and accurate as required for the intended purpose. The company is fully committed to safeguard the data from theft, unauthorized usage, updating and modifications and duplication.
		</p>
		<p class="paragraph">
			6. Transparency of information stored - The company will have transparent privacy policy and any changes will be made known to the customers through the website. The customer can enquire at any time about his personal information being held by us. On such request, the company will make available the details of the information held, the authorized persons accessing the data and the purpose for which such data is used, within a reasonable amount of time.
		</p>
		<p class="paragraph">
			7. Address for communication - If the customer has any concern about any of the issues in the privacy policy of the company, they can contact us by email: <a href="{% url 'main.contact' %}">go to Contact</a>.
		</p>





		<h1 class="title">Delivery Policy </h1>
		<p class="paragraph">
			All orders for items that are in stock are dispatched within 2 working days. All orders for items that are not currently held in our stock are dispatched within approximately 3-5 days. We deliver goods worldwide which can take 3 to 7 working days. The approximate time of shipment is checked individually on request.
		</p>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}