<script>
    APP.DATA = {
        title : 'Change password',
        description : '',
        redirect : '/user/change_password/',
    };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "block/ground/html/navigation.html" %}

    <div class="block-content">

        {% if not form %}

            <div class="block-content-message">
                Password has been changed.
            </div>

            <script>
                APP.DATA.redirect = '/user/sign_in/';
                APP.DATA.delay = 2000;
                APP.throw_event(EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Change your password </div>

                {% for field in form %}

					{% include "form/html/manage_field.html" %}

                {% endfor %}

                <div>
					<button class="button is-brown"
							disabled
							type="submit">
						Reset my password
					</button>
				</div>

                <div>
                    <a class="form_buttons" href="/user/login/">
						<button class="button" type="button"> Return to Login page </button>
					</a>
                </div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
