<script>
    window.APP.DATA = {
        title : 'Forget password',
        description : '',
        redirect : '/user/forget/',
    };
</script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content">

        {% if not form %}

            <div class="block-content-message">
                The mail has been send to current email address. Please visited your mailbox.
            </div>

        {% else %}

            Forget your password? Don't worry. Enter your email address and login to mailbox. We send link to change password for you.

            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Enter your email </div>

                {% for i in form %}

                    <div>
                        {{ i }}
                        {{ i.errors }}

                        {% if i.name == 'email' %}
                            <div class="status"></div>
                        {% endif %}
                    </div>

                {% endfor %}

                <div class="form_buttons long"><button disabled type="submit"> Send </button></div>
                <div class="form_buttons long">
                    <a href="/user/login/"><button type="button"> Return to Login page </button></a>
                </div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
