{% load tags %}

<script>
APP.DATA = {
title : 'Register',
description : ''
};
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        {% if not form %}

            <div class="block-content-message">
            Hello {{ self.request.session.user_username }}, so nice to meet you! Visit your mailbox and active account ;)
            </div>

            <script>
            APP.DATA.redirect = '/';
            APP.DATA.delay = 2000;
            window.dispatchEvent(EVENTS.redirect);
            </script>

        {% else %}


            <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Register </div>

                {% for field in form %}

                    {% if field.name == 'password' %}

                        <div class="show_password">
                            {{ field }}
                            <input class="show_password-checkbox"
								   type="checkbox"/>
                            <div class="status">{{ field.errors }}</div>
                        </div>

                    {% else %}

                        {% include "form/html/manage_field.html" %}

                    {% endif %}

                {% endfor %}

                <div class="is-having-margins-5">
                    By sign up, you agree that you've read and accepted our
                    <a href="{% url 'user.agreement' full=True %}" target="_blank">User Agreement</a>.
                </div>

                <div>
					<button class="button"
							disabled
							type="submit">
						Done
					</button>
				</div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}
