<script>
    window.APP.DATA = {
        title : 'Login',
        description : 'Here you can login.'
    };
</script>


<!-- Frontend: When user is logout and click `Cart`, after sign in cart have to open -->


<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "part/ground/html/navigation.html" %}

    <div class="block-content is-fills-in-width-inside">

        {% if not form or request.session.user_login %}

            <div class="block-content-message">
                Hello {{ request.session.user_username }}. Have a nice shopping! ;)
            </div>

            <script>
               window.APP.throw_event(window.EVENTS.plugins.reload_user_sign_in);
                window.APP.DATA.redirect = '{{ go_back }}';

                window.APP.DATA.delay = 1500;
                window.APP.throw_event(window.EVENTS.redirect);
            </script>

        {% else %}

            <form method="post" action="" id="form_{{ form_name }}" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

                <div class="title"> Sign in </div>

                {% for field in form %}

					{% include "form/html/manage_field.html" %}

                {% endfor %}

                <div class="form_buttons long">
                    <button class="button is-brown"
							disabled
							type="submit">
						Done
					</button>

                    <a href="/user/sign_up/">
						<button class="button" type="button"> Register </button>
					</a>

                    <a href="/user/forgot/">
						<button class="button" type="button"> Forgot your password? </button>
					</a>
                </div>

            </form>

        {% endif %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}